{extend name="agent@public/basic" /}

{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/admin/public.css" media="all"/>

{/block}

{block name="cotent"}
<form class="layui-form">

    <!--顶部操作栏--开始-->
    <!--顶部操作栏--结束-->

    <!--主表单渲染--开始-->
    <table id="currentTable" lay-filter="currentTable"></table>
    <!--主表单渲染--结束-->


    <!--表单模板绑定--开始-->
    <script type="text/html" id="checkStatus">
        {{ d.status== 1 ? '<span style="color: green">开启</span>' : '维护' }}
    </script>
    <!--表单模板绑定--结束-->



</form>
{/block}

{block name="script"}
<script       >

    /**
     * 生成表单
     */
    $.form.table('current', '{:url("$thisRequest")}?type=ajax&id={$Think.get.id}', [[
        {field: 'title', title: '通道分组名称', minWidth: 20, align: 'center'},
        {field: 'status', title: '启用状态', minWidth: 80, templet: '#checkStatus', unresize: true, align: "center"},
        {field: 'c_rate', title: '费率', minWidth: 20, align: 'center', sort: true, edit: 'text', style: 'background-color: #009688; color: #fff;'},
        {field: 'product', title: '支付产品', minWidth: 20, align: 'center'},
        {field: 'code', title: '支付编码', minWidth: 20, align: 'center'},
        {field: 'remark',title: '备注',minWidth: 20, align: "center"},
    ]],false,25);

    /**
     * 监听字段值编辑
     */
    $.form.editField('currentTable', '{:url("$thisRequest")}?id={$Think.get.id}');


</script>
{/block}
