{extend name="agent@public/basic" /}

{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/admin/public.css" media="all"/>
<link rel="stylesheet" href="__STATIC__/css/admin/99admin.css" media="all" />
{/block}

{block name="cotent"}
<div class="layui-card">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">{$title|default=''}</li>
        </ul>
        <div class="layui-tab-content">
            <form class="layui-form">

                <!--顶部操作栏--开始-->
                <blockquote id="searchBlock" class=" quoteBox">

                    <div class="layui-form-item layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" id="out_trade_no" class="layui-input" placeholder="订单号"/>
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" id="system_no" class="layui-input" placeholder="系统单号"/>
                        </div>
                    </div>

                    <div class="layui-form-item layui-inline">
                        <div class="layui-input-inline">
                            <select id="payment_id" class="payment_id" lay-filter="payment_id">
                                <option value="">请选择支付类型</option>
                                {foreach $product as $k => $vo}
                                <option value="{$vo['id']|default=''}">{$vo['title']|default=''}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item layui-inline">
                        <div class="layui-input-inline">
                            <select id="pay_status"  class="pay_status" lay-filter="pay_status">
                                <option value="">请选择支付状态</option>
                                <option value="">所有</option>
                                <option value="2">已支付</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-inline">
                        <div class="layui-input-inline">
                            <select id="notice"   class="notice" lay-filter="notice">
                                <option value="">请选择通知状态</option>
                                {foreach $order['notice'] as $k => $vo}
                                <option value="{$k|default=''}">{$vo|default=''}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" id="create_at" class="layui-input " placeholder="请选择创建时间">
                        </div>
                    </div>

                    <div class="layui-form-item layui-inline">
                        <a class="layui-btn layui-btn-sm" data-search="currentTableId">搜索</a>
                    </div>

                    {if auth("$thisClass/export") }
                    <div class="layui-form-item layui-inline">
                        <a class="layui-btn layui-btn-sm layui-btn-normal " data-export='{:url("$thisClass/export")}'>导出</a>
                    </div>
                    {/if}
                </blockquote>
                <!--顶部操作栏--结束-->

                <!--主表单渲染--开始-->
                <table id="currentTable" lay-filter="currentTable"></table>
                <!--主表单渲染--结束-->

                <!--主表单渲染--结束-->
                <script type="text/html" id="pay_status1">
                    {{# if (d.pay_status  == 2) { }}
                    <div style="color:#1E9FFF;">已支付</div>
                    {{# } else { }}
                    <div>未支付</div>
                    {{# } }}
                </script>

                <script type="text/html" id="total_fee">
                    {{d.total_fee}}-({{d.run_rate}})
                </script>

                <script type="text/html" id="notice1">
                    {{# if (d.notice == '1') { }}
                    <div>未通知</div>
                    {{# } else if(d.notice == 2) { }}
                    <div style="color:#1E9FFF;">已通知</div>
                    {{# } else { }}
                    <div style="color:red;">通知失败</div>
                    {{# } }}
                </script>
            </form>

        </div>
    </div>
</div>




{/block}

{block name="script"}
<script  >

    /**
     * 生成表单
     */
    $.form.table('current', '{:url("$thisRequest")}?type=ajax', [[
        {field:'mch_id', title:'商户编号', minwith:1, align: 'center'},
        {field:'next', title:'下级代理', minwith:1, align: 'center',style: ' color: red;'},
        {field:'out_trade_no', title:'订单号', minwith:1, align: 'center'},
        {field:'system_no', title:'系统单号', minwith:1, align: 'center'},
        {field:'amount', title:'交易金额', minwith:1, align: 'center'},
        {field:'commission', title:'代理收益', minwith:1, align: 'center',style: ' color: red;'},
        {field:'create_time', title:'提交时间', minwith:1, align: 'center'},
        {field:'pay_time', title:'成功时间', minwith:1, align: 'center'},
        {field:'product_name', title:'支付银行',minwith:1, align: 'center'},
        {field:'channelgroup_name', title:'通道分组',minwith:1, align: 'center'},
        {field:'pay_status', title:'支付状态',toolbar: '#pay_status1', minwith:1, align: 'center'},
        {field:'notice', title:'通知状态', toolbar: '#notice1',minwith:1, align: 'center'},
        {field:'productname', title:'订单描述',minwith:1, align: 'center'},
    ]], true , '',100);


    /**
     * 日期范围
     */
    $.laydate.range('create_at',3);

</script>
{/block}
