{extend name="agent@public/basicTree" /}

{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/admin/99admin.css" media="all" />
{/block}

{block name="cotent"}
<div class="layui-card">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">{$title|default=''}</li>
        </ul>

        <div class="layui-tab-content">
            <blockquote class="layui-elem-quote"    >
                下级代理数：<span class="label-info">{$data.agent|default='0'}</span>
                下级商户数：<span class="label-info">{$data.member|default='0'}</span>
                下级代理的商户数：<span class="label-info">{$data.agent_member|default='0'}</span>
            </blockquote>
            <form class="layui-form">
                <!--主表单渲染--开始-->
                <table id="currentTable" lay-filter="currentTable"></table>
                <!--主表单渲染--结束-->
            </form>
        </div>
    </div>
</div>



{/block}
<script>
    //{block name="script"}

    /**
     * 生成表单
     */
    $.form.tableTree('current', '{:url("$thisRequest")}?type=ajax', [[
        {field: 'uid', title: '商户号', minWidth: 20, align: "center"},
        {field: 'level_title', title: '等级', minWidth: 20, align: "center"},
        {field: 'group_title', title: '用户分组', minWidth: 20,  unresize: true, align: "center"},
        {field: 'create_at', title: '创建时间', minWidth: 20,  unresize: true, align: "center"},
    ]], 'uid','pid',true,'','',true,'uid')


    /**
     * 日期范围
     */
    $.laydate.range('create_at');
   // {/block}
</script>