{extend name="admin@public/basic" /}
{block name="style"}{/block}
<link rel="stylesheet" href="__STATIC__/css/admin/public.css" media="all"/>
{block name="cotent"}

<form class="layui-form" style="width:80%;" method="post"  >
    <br>
    <div class="layui-card">
        <div class="layui-card-header">{$title|default=''}</div>
    </div>

    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-inline">
            <label class="layui-form-label">是否开启：</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="1" title="开启"    {eq name='$data.status|default=false' value='1' }checked="checked"{/eq}    ><div class="layui-unselect layui-form-radio layui-form-radioed"       ><i class="layui-anim layui-icon layui-anim-scaleSpring"></i><div>开启</div></div>
                <input type="radio" name="status" value="0" title="关闭"   {eq name='$data.status|default=false' value='0' }checked="checked"{/eq}  ><div class="layui-unselect layui-form-radio layui-form-radioed"       ><i class="layui-anim layui-icon layui-anim-scaleSpring"></i><div>关闭</div></div>
            </div>
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-inline">
            <label class="layui-form-label">充值费率：</label>
            <div class="layui-input-block">
                <input type="text" name="rate"  lay-verify="number" id="rate" autocomplete="off" class="layui-input"  value="{$data.rate|default='0'}"   >
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">手续费：</label>
            <div class="layui-input-block">
                <input type="text" name="fee"  lay-verify="number" id="fee" autocomplete="off" class="layui-input"  value="{$data.fee|default='0'}"   >
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-inline">
            <label class="layui-form-label">单卡次数：</label>
            <div class="layui-input-block">
                <input type="text" name="limit_times"  lay-verify="number" id="limit_times" autocomplete="off" class="layui-input"  value="{$data.limit_times|default='0'}"   >
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">单卡单日限额：</label>
            <div class="layui-input-block">
                <input type="text" name="limit_money"  lay-verify="number" id="limit_money" autocomplete="off" class="layui-input"  value="{$data.limit_money|default='0'}"   >
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-inline">
            <label class="layui-form-label">单笔最低：</label>
            <div class="layui-input-block">
                <input type="text" name="min_pay"  lay-verify="number" id="min_pay" autocomplete="off" class="layui-input"  value="{$data.min_pay|default='0'}"   >
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">单笔最高：</label>
            <div class="layui-input-block">
                <input type="text" id="max_pay"  name="max_pay"     lay-verify="number"  value="{$data.max_pay|default='0'}" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-inline">
            <label class="layui-form-label">付款方式：</label>
            <div class="layui-input-block">
                <select class="visit" lay-filter="visit" name="visit"  >
                    <option value="对公和对私"  {eq name='$data.visit' value='对公和对私'} selected="selected"   {/eq}  >对公和对私</option>
                    <option value="对公"  {eq name='$data.visit' value='对公'} selected="selected"   {/eq}   >对公</option>
                    <option value="对私" {eq name='$data.visit' value='对私'} selected="selected"   {/eq}   >对私</option>
                </select>
            </div>
        </div>

    </div>

    <div class="layui-form-item layui-row layui-col-xs12">

        <div class="layui-inline">
            <label class="layui-form-label">下发方式：</label>
            <div class="layui-input-block">
                <select class="inner" lay-filter="inner" name="inner"  >
                    <option value="内扣" {eq name='$data.inner' value='内扣'} selected="selected"   {/eq}   >内扣</option>
                    <option value="外扣" {eq name='$data.inner' value='外扣'} selected="selected"   {/eq}   >外扣</option>
                </select>
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-inline">
            <label class="layui-form-label">单日代付额度：</label>
            <div class="layui-input-block">
                <input type="text" id="total_money"  name="total_money"    lay-verify="number"  value="{$data.total_money|default='0'}" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">提现时间</label>
        <div class="layui-input-block">
            <input type="text" id="time" name="time"  class="layui-input " value="{$data.time|default=''}" placeholder="请输入提现时间 格式：02:00|11:00 不填表示任何时间都可以提现">
        </div>
    </div>

    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-sm" id="submitBtn" lay-submit lay-filter="submitBtn"    >提交</button>
        </div>
    </div>
</form>
{/block}

