{extend name="admin@public/basic" /}

{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/admin/public.css" media="all"/>
<link rel="stylesheet" href="__STATIC__/css/admin/99admin.css" media="all" />
{/block}

{block name="cotent"}
<form class="layui-form">

    <!--顶部操作栏--开始-->
    <blockquote id="searchBlock" class=" quoteBox">

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">代付通道名称</label>
            <div class="layui-input-inline">
                <input type="text" id="title" class="layui-input" placeholder="请输入代付通道名称"    />
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">代付通道编码</label>
            <div class="layui-input-inline">
                <input type="text" id="code" class="layui-input" placeholder="请输入代付通道编码"    />
            </div>
        </div>


        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">代付通道状态</label>
            <div class="layui-input-inline">
                <select id="status" class="status" lay-filter="status" >
                    <option value="">请选择代付通道状态</option>
                    {foreach $status as $vo}
                    <option value="{$vo.id|default=''}">{$vo.title|default=''}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <a class="layui-btn layui-btn-sm" data-search-="currentTableId">搜索</a>
        </div>

        {if auth("$thisClass/add")}
        <div class="layui-form-item layui-inline">
            <a class="layui-btn layui-btn-normal  layui-btn-sm " data-open='{:url("$thisClass/add_df")}' data-title="添加代付通道">添加</a>
        </div>
        {/if}

    </blockquote>
    <!--顶部操作栏--结束-->

    <!--主表单渲染--开始-->
    <table id="currentTable" lay-filter="currentTable"></table>
    <!--主表单渲染--结束-->

    <!--表单模板绑定--开始-->

    <script type="text/html" id="checkStatus">
        <input type="checkbox" name="{{d.id}}"  value="{{d.status}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="modifyStatus" {{ d.status== 1 ? 'checked' : '' }}>
    </script>
    <script type="text/html" id="checkInner">
        <input type="checkbox" name="{{d.id}}"  value="{{d.inner}}" lay-skin="switch" lay-text="内扣|外扣" lay-filter="modifyInner" {{ d.inner== 0 ? 'checked' : '' }}>
    </script>

    <script type="text/html" id="checkVisit"   >
        <input type="radio" name="{{d.id}}" value="0" title="都可以"  {{ d.visit== 0 ? 'checked' : '' }}   lay-filter="modifyVisit" >
        <input type="radio" name="{{d.id}}" value="1" title="对公"  {{ d.visit== 1 ? 'checked' : '' }}    lay-filter="modifyVisit"  >
        <input type="radio" name="{{d.id}}" value="2" title="对私"  {{ d.visit== 2 ? 'checked' : '' }}    lay-filter="modifyVisit" >
    </script>

    <script type="text/html" id="checkTop">
        <a class="layui-btn layui-btn-normal  layui-btn-xs "  data-check='{:url("$thisClass/top")}?id={{d.id}}&sort=2' data-title="置顶">置顶</a>
        <a class="layui-btn layui-btn-danger  layui-btn-xs " data-check='{:url("$thisClass/top")}?id={{d.id}}&sort=0' data-title="置后">置后</a>
    </script>

    <script type="text/html" id="money">

        {if auth("$thisClass/money")}
        <span  data-open='{:url("$thisClass/money")}?id={{d.id}}' data-title="代付通道：{{d.title}}">
            总金额：{{d.money.total_money}}，可用余额：{{d.money.balance}}
            查询总金额：{{d.total_money}}，查询可用余额：{{d.balance}}
             {{ d.money.frozen_amount != '0.000' ? ',冻结:'+d.money.frozen_amount : '' }}
                {{ d.money.artificial != '0.000' ? ',人工冻结:'+d.money.artificial : '' }}
                {{ d.money.frozen_amount_t1 != '0.000' ? ',T1冻结:'+d.money.frozen_amount_t1 : '' }}

            </span>
        {/if}
    </script>

    <!--表单模板绑定--结束-->

    <!--表单操作栏--开始-->
    <script type="text/html" id="currentTableBar">


        {if auth("$thisClass/edit_df")}

        <a class="layui-btn layui-btn-xs" data-open='{:url("$thisClass/edit_df")}?id={{d.id}}' data-title="修改信息">编辑</a>

        {/if}

        {if auth("$thisClass/del_df")}
        <a class="layui-btn layui-btn-xs layui-btn-danger" data-title="确定删除？" data-del='{:url("$thisClass/del_df")}?id={{d.id}}'>删除</a>
        {/if}

    </script>

    <!--表单操作栏--结束-->
</form>
{/block}

{block name="script"}
<script>

/**
* 生成表单
*/
$.form.table('current', '{:url("$thisRequest")}?type=ajax', [[

{field: 'id', title: 'ID', minWidth: 10, align: 'center',sort:true},
{field: 'top', title: '置顶', minWidth: 40, templet: '#checkTop',  align: "center"},
{field: 'code', title: '编码', minWidth: 40, align: 'center'},
{field: 'title', title: '代付通道名称', minWidth: 200, align: 'center'},

    {field: 'money', title: '代付通道金额', minWidth: 250, align: 'center', templet: '#money',style: 'background-color: #A2B5CD; color: #fff; '},

{field: 'c_rate', title: '成本费率', maxWidth: 50, align: 'center'},
{field: 'fee', title: '下发手续费', maxWidth: 50, align: 'center'},
{field: 'min_pay', title: '单笔最低',  minWidth: 100, align: "center", },
    {field: 'max_pay', title: '单笔最高',  minWidth: 100, align: "center"},
{field: 'limit_money', title: '单卡单日限额',  minWidth: 100, align: "center", },
    {field: 'limit_times', title: '单卡单日限次',  minWidth: 100, align: "center", },
    {field: 'time', edit: 'text', title: '运营时间',  minWidth: 100, align: "center", style: 'background-color: #009688; color: #fff; border-radius: 15px;' },
{field: 'remark', title: '备注信息', edit: 'text', maxWidth: 100, align: "center", style: 'background-color: #009688; color: #fff;'},

    {field: 'visit', title: '付款方式', width: 160, templet: '#checkVisit', unresize: true, align: "center"},
    {field: 'inner', title: '下发方式', width: 80, templet: '#checkInner', unresize: true, align: "center"},
{field: 'status', title: '启用状态', width: 80, templet: '#checkStatus', unresize: true, align: "center"},



/**{if  auth("$thisClass/edit_df") || auth("$thisClass/del_df")}**/
{title: '操作', maxWidth: 110, templet: '#currentTableBar',  align: "center"},
/**{/if}**/
{field: 'update_at', title: '最新更新时间', align: 'center' },


]]);

/**
* 日期范围
*/
$.laydate.range('create_at');

/**
* 监听字段值编辑
*/
$.form.editField('currentTable', '{:url("$thisRequest")}');

/**
* 修改状态
*/
$.form.switch('modifyStatus', '{:url("$thisClass/status_df")}');
$.form.switch('modifyInner', '{:url("$thisClass/inner")}');
$.form.radio('modifyVisit', '{:url("$thisClass/visit")}');

$.form.switch('modifyTop', '{:url("$thisClass/top")}');

</script>
{/block}
