{extend name="admin@public/basic" /}

{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/admin/public.css" media="all"/>
<link rel="stylesheet" href="__STATIC__/css/admin/99admin.css" media="all" />
{/block}

{block name="cotent"}
<form class="layui-form">

    <!--顶部操作栏--开始-->
    <blockquote id="searchBlock" class="layui-elem-quote quoteBox">

        <div class="layui-form-item layui-inline">
            <div class="layui-input-inline">
                <input type="text" id="mch_id" class="layui-input" placeholder="请输入商户号"/>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <div class="layui-input-inline">
                <input type="text" id="out_trade_no" class="layui-input" placeholder="请输入商户单号"/>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <div class="layui-input-inline">
                <input type="text" id="system_no" class="layui-input" placeholder="请输入订单号"/>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <div class="layui-input-inline">
                <input type="text" id="transaction_no" class="layui-input" placeholder="请输入上游单号"/>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <div class="layui-input-inline">
                <input type="text" id="lock_name" class="layui-input" placeholder="请输入锁定人"/>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <div class="layui-input-inline">
                <input type="text" id="account_name" class="layui-input" placeholder="请输入开户人"/>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <div class="layui-input-inline">
                <input type="text" id="card_number" class="layui-input" placeholder="请输入银行卡号"/>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <div class="layui-input-inline">
                <input type="text" id="channel_title" class="layui-input" placeholder="请输入出款通道"/>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <div class="layui-input-inline">
                <input type="text" id="amount" class="layui-input" placeholder="申请金额区间:1-200"/>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <div class="layui-input-inline">
                <select id="status" class="status" lay-filter="status">
                    <option value="">请选择支付状态</option>
                    {foreach $status as $k => $vo}
                       <option value="{$k|default=''}">{$vo|default=''}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <div class="layui-input-inline">
                <input type="text" id="create_at" class="layui-input " placeholder="请选择申请时间">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <a class="layui-btn layui-btn-sm" data-search="currentTableId">搜索</a>
        </div>

       

    </blockquote>
    <!--顶部操作栏--结束-->

    <!--主表单渲染--开始-->
    <table id="currentTable" lay-filter="currentTable"></table>
    <!--主表单渲染--结束-->
    <script type="text/html" id="checkStatus">
        {{# if (d.status == '4') { }}
        <a  class = "text-navy"   >{{d.status_title}}</a>
        {{# } else if(d.status == 3) { }}
        <a   class = "text-success"    >{{d.status_title}}</a>
        {{# } else if(d.status == 2) { }}
        <a class = "text-info" data-width="45%"   data-height="auto"  value="{{d.status}}" data-open='{:url("$thisClass/status")}?id={{d.id}}&status={{d.status}}&verson={{d.verson + 1}}&channel_id={{d.channel_id}}&lock_id={{d.lock_id}}' data-title="{{d.system_no}}--更新状态">{{d.status_title}}</a>
        {{# } else { }}
        <a  class = "text-danger" data-width="45%"   data-height="auto"  value="{{d.status}}" data-open='{:url("$thisClass/status")}?id={{d.id}}&status={{d.status}}&verson={{d.verson + 1}}&channel_id={{d.channel_id}}&lock_id={{d.lock_id}}' data-title="{{d.system_no}}--更新状态">{{d.status_title}}</a>
        {{# } }}
    </script>

    <script type="text/html" id="searchStatus">
        <a class="layui-btn layui-btn-green layui-btn-sm"  onclick="query_order('{:url("$thisClass/query_order")}?id={{d.id}}')"   >跟踪状态</a>
    </script>





    <!--表单操作栏--开始-->

    <script type="text/html" id="channel">
        {{#  if(d.channel_id == '0'){ }}

        {{#  if(d.status == '1'){ }}
             <!--未处理的状态才可以选择出款通道-->
            <a class="layui-btn layui-btn-xs layui-btn-danger  "  data-width="100%"   data-open='{:url("$thisClass/channel")}?channel_id={{d.channel_id}}&id={{d.id}}&verson={{d.verson + 1}}' data-title="出款通道---商户号：{{d.mch_id}}---申请金额：{{d.amount}}">没有通道</a>
        {{#  } else { }}
            <span class="text-warning" > {{d.channel_title}}</span>
        {{#  } }}

        {{#  } else { }}
            <span class="text-primary" > {{d.channel_title}}</span>
        {{#  } }}
    </script>
    <!--表单操作栏--结束-->
</form>
{/block}

{block name="script"}
<script >
    function query_order(url) {
        var Index = $.msg.confirm('确定要查询订单吗？', function () {
            $.msg.close(Index);
            $.request.post(url,{}, function (res) {
                $.msg.alert(res.msg);
            }, true);

        });
    }

    $.form.table('current', '{:url("$thisRequest")}?type=ajax', [[
        {field: 'id', title: 'ID', width: 30, align: "center"},
        {field: 'mch_id', title: '商户号',  width: 70,  align: "center"},
        {field: 'system_no', title: '订单号',  width: 120, align: "center"},
        {field: 'lock_name', title: '锁定人',  align: "center", width: 80, templet: function (d) {
            if (d.lock_id == 0) {
                return '<span >未锁定</span>';
            } else {
                return '<span class="text-navy">' + d.lock_name + '</span>';
            }
        }},
        {field: 'amount', title: '申请金额',  width: 100, align: "center"},
        {field: 'fee', title: '手续费',  width: 50,align: 'center'},
        {field: 'actual_amount', title: '实际到账', align: 'center', width: 100,},
        {field: 'card_number', title: '银行卡号', width: 100,  align: "center"},
        {field: 'account_name', title: '开户人', align: 'center', width: 60},
        {field: 'bank_name', title: '银行名称', width: 100, align: "center"},
        {field: 'branch_name', title: '支行', width: 100,  align: "center"},
        {field: 'status', title: '状态',templet: '#checkStatus', align: 'center', width: 100},
        {field: 'status', title: '跟踪状态',templet: '#searchStatus', align: 'center', width: 100},

        {field: 'remark', title: '备注', width: 100,edit: 'text',   align: "center",style: 'background-color: #009688; color: #fff;'},
        {field: 'transaction_no', title: '上游订单号', width: 100,   align: "center",},
        {field: 'out_trade_no', title: '商户单号', width: 100,   align: "center",},
        {field: 'channel_id', title: '出款通道', width: 80, align: "center", templet: '#channel'},
        {field: 'remark1', title: '商户说明', width: 100,edit: 'text',   align: "center",style: 'background-color: #009688; color: #fff; border-radius: 15px;'},
        {field: 'channel_fee', title: '通道手续费', width: 70, align: "center"},
        {field: 'create_at', title: '申请时间', width: 100,  align: "center"},
        {field: 'update_at', title: '更新时间', width: 100,  align: "center"},

        {field: 'record', title: '操作记录', width: 100,  align: "center"},

    ]]);

    /**
     * 日期范围
     */
    $.laydate.range('create_at',7);
    /**
     * 监听字段值编辑
     */
     $.form.editField('currentTable', '{:url("$thisRequest")}');
</script>

{/block}
