{extend name="admin@public/basicMessage" /}

{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/admin/public.css" media="all"/>
<link rel="stylesheet" href="__STATIC__/css/admin/99admin.css" media="all" />
{/block}

{block name="cotent"}

<div class="layui-card">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">客服任务</li>
            <li>财务任务</li>
            <li>技术任务</li>
        </ul>
        <div class="layui-tab-content">

            <div class="layui-tab-item layui-show">
                <div class="LAY-app-message-btns" style="margin-bottom: 10px;">
                    <a class="layui-btn layui-btn-danger  layui-btn-sm" data-title="确定批量删除？" data-del-all='{:url("$thisClass/del")}' data-table-id="LAY-app-message-allTableId">删除</a>
                    <a class="layui-btn  layui-btn-warm layui-btn-sm" data-title="确定处理？" data-del-all='{:url("$thisClass/do_task")}' data-table-id="LAY-app-message-allTableId">处理</a>

                </div>
                <table id="LAY-app-message-allTable" lay-filter="LAY-app-message-allTable"></table>

                <script>
                    $.form.table('LAY-app-message-all', '{:url("$thisRequest")}?type=ajax&type1=5', [[
                        {type: "checkbox", fixed: "left", width: 30,},
                        {field:'id', title:'ID', with:30, align: 'center'},
                        {field:'title', title:'标题', with:30, align: 'center'},
                        {field:'data', title:'语音播报内容', minWith:30, align: 'center'},
                        {field:'time', title:'时间间隔（分钟）', minWith:30, align: 'center'},
                        {field:'status', title:'状态', with:30, align: 'center',templet:function (d) {
                            if (d.status == 0) {
                                return '未处理';
                            } else  {
                                return '已处理';
                            }
                        }},
                        {field:'create_at', title:'时间', minWith:30, align: 'center'},
                    ]]);
                </script>

            </div>
            <div class="layui-tab-item">

                <div class="LAY-app-message-btns" style="margin-bottom: 10px;">
                    <a class="layui-btn layui-btn-danger  layui-btn-sm" data-title="确定批量删除？" data-del-all='{:url("$thisClass/del")}' data-table-id="LAY-app-message-noticeTableId">删除</a>
                    <a class="layui-btn layui-btn-warm layui-btn-sm  layui-btn-sm" data-title="确定处理？" data-del-all='{:url("$thisClass/do_task")}' data-table-id="LAY-app-message-noticeTableId">处理</a>


                </div>

                <table id="LAY-app-message-noticeTable" lay-filter="LAY-app-message-noticeTable"></table>
                <script>
                    $.form.table('LAY-app-message-notice', '{:url("$thisRequest")}?type=ajax&type1=6', [[
                        {type: "checkbox", fixed: "left", width: 30,},
                        {field:'id', title:'ID', with:30, align: 'center'},
                        {field:'title', title:'标题', with:30, align: 'center'},
                        {field:'data', title:'语音播报内容', minWith:30, align: 'center'},
                        {field:'time', title:'时间间隔（分钟）', minWith:30, align: 'center'},
                        {field:'status', title:'状态', with:30, align: 'center',templet:function (d) {
                            if (d.status == 0) {
                                return '未处理';
                            } else  {
                                return '已处理';
                            }
                        }},
                        {field:'create_at', title:'时间', minWith:30, align: 'center'},
                    ]]);
                </script>
            </div>
            <div class="layui-tab-item">
                <div class="LAY-app-message-btns" style="margin-bottom: 10px;">
                    <a class="layui-btn layui-btn-danger  layui-btn-sm" data-title="确定批量删除？" data-del-all='{:url("$thisClass/del")}' data-table-id="LAY-app-message-directTableId">删除</a>

                    <a class="layui-btn  layui-btn-warm layui-btn-sm" data-title="确定处理？" data-del-all='{:url("$thisClass/do_task")}' data-table-id="LAY-app-message-directTableId">处理</a>

                </div>
                <table id="LAY-app-message-directTable" lay-filter="LAY-app-message-directTable"></table>
                <script>
                    $.form.table('LAY-app-message-direct', '{:url("$thisRequest")}?type=ajax&type1=7', [[
                        {type: "checkbox", fixed: "left", width: 30,},
                        {field:'id', title:'ID', with:30, align: 'center'},
                        {field:'title', title:'标题', with:30, align: 'center'},
                        {field:'data', title:'语音播报内容', minWith:30, align: 'center'},
                        {field:'time', title:'时间间隔（分钟）', minWith:30, align: 'center'},
                        {field:'status', title:'状态', with:30, align: 'center',templet:function (d) {
                            if (d.status == 0) {
                                return '未处理';
                            } else  {
                                return '已处理';
                            }
                        }},
                        {field:'create_at', title:'时间', minWith:30, align: 'center'},
                    ]]);
                </script>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script>


</script>


{/block}
