{extend name="admin@public/basic" /}
{block name="style"}{/block}

{block name="cotent"}

<div class="layui-col-md12">
    <div class="layui-card">
        <div class="layui-card-body">
            <blockquote class="layui-elem-quote"  >
                <span style="color: #ff0000;" class="text-danger">总金额：{$user.total_money|default=''} 元 - {:convertAmountToCn($user.total_money)} </span>
                <span style="margin:0 30px;" class="text-muted">可用余额：{$user.balance|default=''} 元 - {:convertAmountToCn($user.balance)}</span>
                <span class="text-warning">人工冻结金额：{$user.artificial|default=''}  元 - {:convertAmountToCn($user.artificial)}</span>
                <span style="margin:0 30px;" class="text-info">冻结金额：{$user.frozen_amount|default=''} - {:convertAmountToCn($user.frozen_amount)}元</span>
                <span class="text-navy">T1冻结金额：{$user.frozen_amount_t1|default=''}  元 - {:convertAmountToCn($user.frozen_amount_t1)}</span>
            </blockquote>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" style="width:80%;">

                <div class="layui-form-item layui-row layui-col-xs12">
                    <label class="layui-form-label">类型</label>
                    <div class="layui-input-inline">
                        <select name="type"  class="type" lay-filter="type" lay-verify="required"   >
                            {foreach $status as $k=> $vo}
                            <option value="{$k|default='0'}" >{$vo}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">变动金额</label>
                        <div class="layui-input-inline">
                            <input type="number" id="change" name="change" class="layui-input change" lay-verify="required" autocomplete="off"  placeholder="请输入变动金额(正数)"  >
                        </div>
                    </div>
                </div>

                <div class="layui-form-item layui-row money">
                    <label class="layui-form-label">备注信息</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入备注信息" id="remark"  name="remark"  class="layui-textarea remark"></textarea>
                    </div>
                </div>

                {:token('__token__', 'sha1')}

                <div class="layui-form-item layui-row layui-col-xs12">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-sm" id="submitBtn" lay-submit lay-filter="submitBtn">提交</button>
                        <button class="layui-btn layui-btn-sm layui-btn-primary" data-close="closeOpen">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{/block}

{block name="script"}
<script >
    /**
     * 添加、编辑
     */
    $.form.on('submitBtn', '{:url("$thisRequest")}', function (res) {
        $.msg.success(res.msg, function () {
            $.tool.reload();
        });
        return false;
    });

</script>
{/block}
