<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{$title|default='聚合支付后台管理'}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="stylesheet" href="__ADMIN__/layuiadmin/layui/css/layui.css" media="all">

    <link rel="stylesheet" href="__ADMIN__/layuiadmin/style/admin.css" media="all">
</head>
<body class="layui-layout-body">

<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="{$SysInfo.HomeUrl|default='#'}" target="_blank" title="前台">
                        <i class="layui-icon layui-icon-website"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" layadmin-event="refresh" title="刷新"  class="refresh refreshThis"   >
                        <i class="layui-icon layui-icon-refresh-3 "></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <input type="text" placeholder="搜索..." autocomplete="on" class="layui-input layui-input-search" layadmin-event="serach" lay-action="{:url('@admin/search/index')}?keywords=">
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;"   id="tab" >
                        <i class="layui-icon layui-icon-tabs"></i>
                    </a>
                </li>

                <li class="layui-nav-item" lay-unselect>
                    <a lay-href="{:url('@admin/Message/task')}" layadmin-event="message" lay-text="消息中心">
                        <i class="layui-icon layui-icon-notice"></i>

                        <!-- 如果有新消息，则显示小圆点 -->
                        <span  ></span>
                        <!--<span class="layui-badge-dot  blink" ></span>-->

                        <style>

                            /* 定义keyframe动画，命名为blink */
                            @keyframes blink{
                                0%{opacity: 1;}
                                100%{opacity: 0;}
                            }
                            /* 添加兼容性前缀 */
                            @-webkit-keyframes blink {
                                0% { opacity: 1; }
                                100% { opacity: 0; }
                            }
                            @-moz-keyframes blink {
                                0% { opacity: 1; }
                                100% { opacity: 0; }
                            }
                            @-ms-keyframes blink {
                                0% {opacity: 1; }
                                100% { opacity: 0;}
                            }
                            @-o-keyframes blink {
                                0% { opacity: 1; }
                                100% { opacity: 0; }
                            }
                            /* 定义blink类*/
                            .blink{
                                color: #dd4814;
                                animation: blink 1s linear infinite;
                                /* 其它浏览器兼容性前缀 */
                                -webkit-animation: blink 1s linear infinite;
                                -moz-animation: blink 1s linear infinite;
                                -ms-animation: blink 1s linear infinite;
                                -o-animation: blink 1s linear infinite;
                            }


                        </style>


                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="theme">
                        <i class="layui-icon layui-icon-theme"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="note">
                        <i class="layui-icon layui-icon-note"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="fullscreen"     >
                        <i class="layui-icon layui-icon-screen-full "></i>
                    </a>
                </li>

                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" class="clearCache">
                        <i class="layui-icon layui-icon-fonts-clear"  ></i>
                    </a>
                </li>


                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <cite>{$Think.session.admin_info.nickname|default='无名'}</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a lay-href="{:url('admin/User/edit_self')}">基本资料</a></dd>
                        <dd><a lay-href="{:url('admin/User/changepwd')}">修改密码</a></dd>
                        <dd><a lay-href="{:url('admin/User/change_google')}">重置谷歌</a></dd>
                        <hr>
                        <dd lay-href="{:url('admin/Login/logout')}"    ><a>退出</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
                <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
                    <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="{:url('@admin/Index/welcome')}">
                    <span>{$SysInfo.ManageName|default='聚合支付后台管理'}</span>
                </div>

                {include file="admin@public/menu" /}

            </div>
        </div>

        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="{:url('@admin/Index/welcome')}" lay-attr="{:url('@admin/Index/welcome')}" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>


        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe         src="{:url('@admin/Index/welcome')}" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade" ></div>
    </div>
</div>
<script type="text/javascript"    src="__STATIC__/plugs/jquery/jquery-2.2.4.min.js"></script>
<script type="text/javascript"   src="__ADMIN__/layuiadmin/layui/layui.all.js"></script>
<script type="text/javascript"   src="__STATIC__/plugs/iNotify.js"></script>
<script type="text/javascript"     >
    /**
     * 跳出ifram框架
     */
    if (top.location != self.location) top.location = self.location;


    layui.config({
        base: '__ADMIN__/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use('index');

    var iNotify = new iNotify();
    //实时刷新时间单位为毫秒
    setInterval('refreshQuery()',60000);//一分钟循环
    /* 刷新查询 */
    function refreshQuery(){
        //语音播报
        $.get("{:url('@admin/api.common/task')}", function (res) {
            if (res.code == 1) {

                $(".layui-icon-notice").siblings('span').addClass('layui-badge-dot');
                $(".layui-icon-notice").siblings('span').addClass('blink');//小红点闪烁

                iNotify.init({
                    message:"有消息拉！",
                    effect: 'flash',
                    interval: 300,
                    audio:{
                        file:'http://tts.baidu.com/text2audio?lan=zh&ie=UTF-8&spd=5&text='+res.msg
                    }
                });
                iNotify.setFavicon(res.data.num).setTitle("有消息拉!").player();
            }else {
                $(".layui-icon-notice").siblings('span').removeClass('layui-badge-dot');
            }
        })
    }




    //清除缓存
    $(".clearCache").click(function () {
        var index = layer.msg('清除缓存中，请稍候', {icon: 16, time: false, shade: 0.8});
        //清除浏览器缓存
        window.sessionStorage.clear();

        /*** {if auth("admin/api.common/clear_cache")}***/
        //清除服务器缓存
        $.get("{:url('@admin/api.common/clearCache')}", function (res) {
            if (res.code == 1) {
                setTimeout(function () {
                    layer.close(index);
                    layer.msg(res.msg);
                }, 1000);
                window.location.reload();
            } else {
                setTimeout(function () {
                    layer.close(index);
                    layer.msg("服务端缓存清除失败！");
                }, 1000);
            }
        })
        /***{/if}***/
        return false;
    })


    //设置多标签
    if(window.sessionStorage.getItem("tab") == '1'){
        $("#tab").find('i').attr('style', 'color: red');
    }
    $("#tab").click(function () {
        if(window.sessionStorage.getItem("tab") == '1'){
            sessionStorage.removeItem("tab");
        }else{
            sessionStorage.setItem("tab", "1");
            window.location.reload();
        }
        window.location.reload();
    })

</script>

</body>
</html>


