
<html>
<head>
    <meta charset="utf-8">
    <title>控制台 - 聚合支付 - 后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__ADMIN__/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__ADMIN__/layuiadmin/style/admin.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">今日流量图</div>
                <div class="layui-card-body">
                    <div id="speedChart" >
                        <div id="speedChartMain" style=" height: 400px;"></div>
                    </div>

                </div>
            </div>
        </div>

        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">会员今日跑量</div>
                <div class="layui-card-body">
                    <div id="speedChart2" >
                        <div id="speedChartMain2" style=" height: 400px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">通道今日跑量</div>
                <div class="layui-card-body">
                    <div id="speedChart3" >
                        <div id="speedChartMain3" style=" height: 400px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">平台盈利</div>
                <div class="layui-card-body">
                    <div id="speedChart1" >
                        <div id="speedChartMain1" style=" height: 400px;"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>
</div>
<script type="text/javascript" src="__STATIC__/plugs/jquery/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="__STATIC__/layui/layui.all.js"></script>
<script type="text/javascript" src="__STATIC__/js/lay-module/echarts/echarts.js"></script>
<script type="text/javascript" src="__STATIC__/js/lay-module/echarts/echartsTheme.js"></script>


<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('speedChartMain'));
    var  option = {
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data:[
                /***{foreach option.legend as $val}***/
                '{$val}',
                 /***{/foreach}***/
                ]
        },
        grid: {
            left: '1%',
            right: '1%',
            bottom: '4%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data:[ /***{foreach option.xAxis as $val}***/
                     '{$val}',
                 /***{/foreach}***/
            ]
        },
        yAxis: {

            type: 'value'
        },
        series: [
            /***{foreach option.series as $val}***/
            {
                name: '{$val.name}',
                type:'line',
                stack: '总量',
                data:[
                    /***{foreach $val.data as $val1}***/
                    '{$val1}',
                /***{/foreach}***/
                ]
            },
            /***{/foreach}***/

        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);



    var myChart1 = echarts.init(document.getElementById('speedChartMain1'));
    var  option1 = {
        tooltip : {
            trigger: 'axis',
            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        legend: {
            data:[
                /***{foreach sys_data.legend as $val}***/
                '{$val}',
                /***{/foreach}***/
            ]
        },
        grid: {
            left: '1%',
            right: '1%',
            bottom: '4%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: true,
            data:[ /***{foreach sys_data.xAxis as $val}***/
                '{$val}',
                /***{/foreach}***/
            ],
            axisLabel:{
                interval:0,//横轴信息全部显示
                rotate:-15,//-15度角倾斜显示
            },
        },
        yAxis: {

            type: 'value'
        },
        series: [
            /***{foreach sys_data.series as $val}***/
            {
                name: '{$val.name}',
                barWidth:10,
                type:'bar',
                data:[
                    /***{foreach $val.data as $val1}***/
                    '{$val1}',
                    /***{/foreach}***/
                ]
            },
            /***{/foreach}***/

        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart1.setOption(option1);


    var myChart2 = echarts.init(document.getElementById('speedChartMain2'));
    var  option2 = {
        tooltip : {
            trigger: 'axis',
            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        legend: {
            data:[
                /***{foreach user_data.legend as $val}***/
                '{$val}',
                /***{/foreach}***/
            ]
        },
        grid: {
            left: '1%',
            right: '1%',
            bottom: '4%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: true,
            data:[ /***{foreach user_data.xAxis as $val}***/
                '{$val}',
                /***{/foreach}***/
            ],
            axisLabel:{
                interval:0,//横轴信息全部显示
                rotate:-15,//-15度角倾斜显示
            },
        },
        yAxis: {

            type: 'value'
        },
        series: [
            /***{foreach user_data.series as $val}***/
            {
                name: '{$val.name}',
                barWidth:10,
                type:'bar',
                data:[
                    /***{foreach $val.data as $val1}***/
                    '{$val1}',
                    /***{/foreach}***/
                ]
            },
            /***{/foreach}***/
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart2.setOption(option2);


    var myChart3 = echarts.init(document.getElementById('speedChartMain3'));
    var  option3 = {
        tooltip : {
            trigger: 'axis',
            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        legend: {
            data:[
                /***{foreach channel_data.legend as $val}***/
                '{$val}',
                /***{/foreach}***/
            ]
        },
        grid: {
            left: '1%',
            right: '1%',
            bottom: '4%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: true,
            data:[ /***{foreach channel_data.xAxis as $val}***/
                '{$val}',
                /***{/foreach}***/
            ],
            axisLabel:{
                interval:0,//横轴信息全部显示
                rotate:-15,//-15度角倾斜显示
            },


        },
        yAxis: {

            type: 'value'
        },
        series: [
            /***{foreach channel_data.series as $val}***/
            {
                name: '{$val.name}',
                barWidth:10,
                type:'bar',
                data:[
                    /***{foreach $val.data as $val1}***/
                    '{$val1}',
                    /***{/foreach}***/
                ]
            },
            /***{/foreach}***/
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart3.setOption(option3);

</script>


</body>
</html>