{extend name="admin@public/basic" /}

{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/admin/public.css" media="all"/>
<link rel="stylesheet" href="__STATIC__/css/admin/99admin.css" media="all" />
{/block}

{block name="cotent"}
<form class="layui-form">

    <!--顶部操作栏--开始-->
    <blockquote id="searchBlock" class="layui-elem-quote quoteBox">

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">通道名称</label>
            <div class="layui-input-inline">
                <input type="text" id="title" class="layui-input" placeholder="请输入通道名称"/>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <a class="layui-btn layui-btn-sm"  data-search-top="currentTableId">查找</a>
        </div>

        {if auth("$thisClass/add")}
        <div class="layui-form-item layui-inline">
            <a class="layui-btn layui-btn-normal  layui-btn-sm " data-check-all='{:url("$thisClass/confirm")}?pid={$Think.get.id}&verson={$Think.get.verson}' data-title="确认保存选择单条通道"   data-table-id="currentTableId"  >保存选择单条通道</a>
        </div>
        {/if}

    </blockquote>
    <!--顶部操作栏--结束-->

    <!--主表单渲染--开始-->
    <table id="currentTable" lay-filter="currentTable"></table>
    <!--主表单渲染--结束-->

    <!--表单模板绑定--开始-->
    <script type="text/html" id="mode">
        <td data-field="concurrent" data-key="1-0-3" data-edit="text" align="center" style="background-color: #009688; color: #fff;" data-minwidth="20" class="" title="0"><div class="layui-table-cell laytable-cell-1-0-3">0</div></td>
    </script>

    <script type="text/html" id="checkInner">
        <input type="checkbox" name="{{d.id}}"    value="{{d.inner}}" lay-skin="switch" lay-text="外扣|内扣" lay-filter="modifyInner" {{ d.inner== 1 ? 'checked' : '' }}>
    </script>

</form>
{/block}

{block name="script"}
<script       >
    ;layui.use(['laydate', 'form', 'layer', 'table', 'laytpl', 'jquery'], function () {
        var table = layui.table,
            $ = layui.jquery;

        // 当前页面Bogy对象
        var $body = $('body');

        /**
         * 生成表单
         */
        $.form.table('current', '{:url("$thisRequest")}?type=ajax&channel_id={$Think.get.channel_id}', [[
            {type: "checkbox",fixed: "left", width: 30,},
            {field: 'title', title: '通道', minWidth: 20, align: 'center'},
            {field: 'fee',title: '手续费',edit: 'text',minWidth: 20,align: "center", style: 'background-color: #009688; color: #fff;'},
            {field: 'inner', title: '状态', width: 100, templet: '#checkInner', unresize: true, align: "center"},
            {field: 'min_pay', title: '最低', edit: 'text', minWidth: 20, align: "center", templet: '#limit', style: 'background-color: #009688; color: #fff;'},
            {field: 'max_pay', title: '最高', edit: 'text', minWidth: 20, align: "center", templet: '#limit', style: 'background-color: #009688; color: #fff;'},
            {field: 'balance', title: '余额', minWidth: 20, align: 'center', style: ' color: red;'},
            {field: 'frozen_amount', title: '冻结', minWidth: 20, align: 'center'},

        ]], false,function (res,curr,count){
            $('tr').each(function(index, element){
                var id = index -1;
                if(id >=0 && id < $('tr').length -3){
                    if( typeof(res.data[id]) !== 'undefined' && res.data[id].LAY_CHECKED !== true){
                        $(element).find('td').each(function(index1, element1){
                            $(element1).removeAttr("data-edit");
                            $(element1).removeAttr("style");
                        });
                    }
                }
            });
        },100);

        /**
         * 监听字段值编辑
         */
        $.form.editField('currentTable', '{:url("$thisRequest")}');

        /**
         * 修改状态
         */
        $.form.switch('modifyInner', '{:url("$thisClass/inner")}');


        /**
         * 注册 data-check-all 事件
         */
        $body.on('click', '[data-check-all]', function () {
            var url = $(this).attr('data-check-all');
            var checkStatus = table.checkStatus($(this).attr('data-table-id')),
                data = checkStatus.data,
                id = [];
                for (let i in data) {
                    id.push(data[i].id);
                }
               var num  = id.length;
                if(num != 1){
                    $.msg.error('请选择一条通道！！');
                    return false;
                }

                $.msg.confirm($(this).attr('data-title'), function () {
                    $.request.get(url, {id: id}, function (res) {
                        $.msg.success(res.msg, function () {
                            $.tool.reload();
                        })
                    })
                });

            return false;
        });

    });
</script>
{/block}
