{extend name="admin@public/basic" /}

{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/admin/public.css" media="all"/>
<link rel="stylesheet" href="__STATIC__/css/admin/99admin.css" media="all" />
{/block}

{block name="cotent"}
<form class="layui-form">

    <!--顶部操作栏--开始-->
    <blockquote id="searchBlock" class="layui-elem-quote quoteBox">

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">商户号</label>
            <div class="layui-input-inline">
                <input type="text" id="mch_id" class="layui-input" placeholder="请输入商户号"/>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">订单号</label>
            <div class="layui-input-inline">
                <input type="text" id="system_sn" class="layui-input" placeholder="请输入订单号"/>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">状态</label>
            <div class="layui-input-inline">
                <select id="status" class="status" lay-filter="status">
                    <option value="">请选择</option>
                    <option value="1">未处理</option>
                    <option value="2">处理中</option>
                    <option value="3">已完成</option>
                    <option value="4">失败退款</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">创建时间</label>
            <div class="layui-input-inline">
                <input type="text" id="create_at" class="layui-input " placeholder="请选择创建时间">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <a class="layui-btn layui-btn-sm" data-search="currentTableId">搜索</a>
        </div>

       

    </blockquote>
    <!--顶部操作栏--结束-->

    <!--主表单渲染--开始-->
    <table id="currentTable" lay-filter="currentTable"></table>
    <!--主表单渲染--结束-->
    <script type="text/html" id="checkStatus">
        {{# if (d.status == '1') { }}
        <div>未处理</div>
        {{# } else if(d.status == 2) { }}  
        <div style="color:#1E9FFF;">处理中</div>
        {{# } else if(d.status == 3) { }}  
        <div style="color:#0ac933;">已完成</div>
        {{# } else { }}  
        <div style="color:red;">失败,已退款</div>
        {{# } }}  
    </script>

    <!--表单操作栏--开始-->
    <script type="text/html" id="currentTableBar">
        
   
        {{# if (d.status == '1') { }}
        <a class="layui-btn layui-btn-xs layui-btn-green"  data-title="确认要此操作？" data-del='{:url("$thisClass/with_save")}?id={{d.id}}&type=1' >锁定</a>
        {{# } else if(d.status == 2) { }}  
        <a class="layui-btn layui-btn-xs" style="background-color:#c2c2c2;"  data-title="确认要此操作？" data-del='{:url("$thisClass/with_save")}?id={{d.id}}&type=2' >解除</a>
        <a class="layui-btn layui-btn-xs layui-btn-normal"  data-text="请填写三方单号" data-title="确认要此操作？" data-prompt='{:url("$thisClass/with_save")}?id={{d.id}}&type=3' >出款</a>
        <a class="layui-btn layui-btn-xs" data-text="请填写退款理由" data-title='确认退款吗' data-prompt='{:url("$thisClass/with_save")}?id={{d.id}}&type=4' >退款</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" data-title="确定删除？" data-del='{:url("$thisClass/del")}?id={{d.id}}'>删除</a>
        {{# } else { }}  
        {{# if(d.status == 1 || d.status == 2) { }}  
        <a class="layui-btn layui-btn-xs"  data-title="确认要此操作？" data-del='{:url("$thisClass/with_save")}?id={{d.id}}&type=4' >退款</a>
        {{# } }}  
        <a class="layui-btn layui-btn-xs layui-btn-danger" data-title="确定删除？" data-del='{:url("$thisClass/del")}?id={{d.id}}'>删除</a>
        {{# } }}  
        

    </script>

    <script type="text/html" id="channel">
        {{#  if(d.channel_id == '0'){ }}
        <a class="layui-btn layui-btn-xs layui-btn-danger  "  data-width="100%"   data-open='{:url("$thisClass/channel")}?channel_id={{d.channel_id}}&id={{d.id}}' data-title="出款通道---商户号：{{d.mch_id}}---申请金额：{{d.amount}}">没有通道</a>
        {{#  } else { }}
            {{d.channel_title}}
        {{#  } }}

        <a class="layui-btn layui-btn-xs layui-btn-danger  "  data-width="100%"   data-open='{:url("$thisClass/channel")}?channel_id={{d.channel_id}}&id={{d.id}}&verson={{d.verson + 1}}' data-title="出款通道---商户号：{{d.mch_id}}---申请金额：{{d.amount}}">没有通道</a>
    </script>

    <!--表单操作栏--结束-->
</form>
{/block}

{block name="script"}
<script>
    $.form.table('current', '{:url("$thisRequest")}?type=ajax', [[
        {field: 'id', title: 'ID', Width: 5, align: "center",  unresize: true},
        {field: 'mch_id', title: '商户号',  minWidth: 1,  align: "center"},
        {field: 'system_no', title: '订单号',  minWidth: 1, align: "center"},
        {field: 'amount', title: '申请金额',  minWidth: 1, align: "center"},
        {field: 'fee', title: '手续费', align: 'center'},
        {field: 'card_number', title: '银行卡号', minWidth: 1,  align: "center"},
        {field: 'account_name', title: '开户人', align: 'center', minWidth: 1},
        {field: 'bank_name', title: '银行名称', minWidth: 1, align: "center"},
        {field: 'branch_name', title: '支行', minWidth: 1,  align: "center"},
        {field: 'status', title: '状态',templet: '#checkStatus', align: 'center', minWidth: 1},

        {field: 'channel_id', title: '出款', minWidth: 1, align: "center", templet: '#channel'},
        {field: 'lock_name', title: '锁定人',  align: "center", minWidth: 1},
        {field: 'channel_fee', title: '通道手续费', minWidth: 1, align: "center"},
        {title: '操作', minWidth: 1, templet: '#currentTableBar',  align: "center", minWidth: 1},

        {field: 'remark', title: '备注', minWidth: 1,edit: 'text',   align: "center",style: 'background-color: #009688; color: #fff; border-radius: 15px;'},
        {field: 'remark1', title: '商户说明', minWidth: 1,edit: 'text',   align: "center",style: 'background-color: #009688; color: #fff; border-radius: 15px;'},

        {field: 'actual_amount', title: '实际到账', align: 'center', minWidth: 1},
        {field: 'location', title: '开卡地址', minWidth: 1, align: "center"},
        {field: 'create_at', title: '申请时间', minWidth: 1,  align: "center"},
        {field: 'update_at', title: '更新时间', minWidth: 1,  align: "center"},
        {field: 'record', title: '操作记录', minWidth: 1,  align: "center"},
    ]]);

    /**
     * 日期范围
     */
    $.laydate.range('create_at',7);
    /**
     * 监听字段值编辑
     */
     $.form.editField('currentTable', '{:url("$thisRequest")}');
</script>
{/block}
