
<html>
<head>
    <meta charset="utf-8">
    <title>{$title|default='后台管理'}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__ADMIN__/layuiadmin/style/admin.css" media="all">
    <script type="text/javascript"      src="__STATIC__/common.js"></script>
    <style>
        .layui-btn+.layui-btn {
            margin-left: 0px;
        }
        .layui-form-item .layui-input-inline {
            margin-right: 0px;
        }
        .layui-form-checkbox span{
            height:auto;
        }
    </style>
    {block name="style"}{/block}
</head>
<body   class="layui-layout-body {$body|default='childrenBody'} "  style="overflow:auto"   >

{block name="cotent"}{/block}

<script type="text/javascript" src="__STATIC__/plugs/jquery/jquery-2.2.4.min.js"></script>
<script src="/static/layui/layui.all.js"></script>
<script type="application/javascript"       >
    //口令
    window.word = JSON.parse('{$SysWord|raw|default = ""}');
</script>

<script src="__STATIC__/basic.js?v={:mt_rand(0,20)}"></script>
{block name="script"}{/block}

</body>
</html>








