{extend name="admin@public/basic" /}

{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/admin/public.css" media="all"/>
<link rel="stylesheet" href="__STATIC__/css/admin/99admin.css" media="all" />
{/block}

{block name="cotent"}
<form class="layui-form">

    <!--顶部操作栏--开始-->
    <blockquote id="searchBlock" class=" quoteBox">

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">通道名称</label>
            <div class="layui-input-inline">
                <select id="channel_id"   lay-filter="channel_id"  lay-search=""  >
                    <option value="">请输入通道通道名称</option>
                    {foreach $channel as $k => $vo}
                    <option value="{$k|default='0'}">{$vo|default=''}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">日期</label>
            <div class="layui-input-inline">
                <input type="text" id="day" class="layui-input " placeholder="请选择日期"    >
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <a class="layui-btn layui-btn-sm " data-search="currentTableId">搜索</a>
        </div>

    </blockquote>
    <!--顶部操作栏--结束-->

    <!--主表单渲染--开始-->
    <table id="currentTable" lay-filter="currentTable"></table>
    <!--主表单渲染--结束-->

    <script type="text/html" id="info">
        <a class="layui-btn layui-btn-xs layui-btn-normal "    value="{{d.id}}" data-open='{:url("$thisClass/info")}?id={{d.id}}' data-title="通道名称：{{d.title}}--日期：{{d.day}}--该通道下产品分析">该通道下产品分析</a>
    </script>


</form>
{/block}


{block name="script"}

<script >

    /**
     * 生成表单
     */
    $.form.table('current', '{:url("$thisRequest")}?type=ajax', [[
        {field: 'id', title: 'ID', minWidth: 40, align: "center"},
        {field: 'day', title: '日期', minWidth: 20, align: "center"},
        {field: 'channel_id', title: '通道ID', minWidth: 40, align: "center"},
        {field: 'title', title: '名称', minWidth: 40, align: "center"},
        {field: 'total_orders', title: '总订单数', align: 'center', minWidth: 20},
        {field: 'total_paid', title: '已支付订单数', align: 'center', minWidth: 20},
        {field: 'total_fee_all', title: '总金额（元）', align: 'center', minWidth: 20},
        {field: 'total_fee_paid', title: '总实支付金额（元）', align: 'center', minWidth: 20},
        {field: 'total_fee', title: '手续费（元）', align: 'center', minWidth: 20},
        {field: 'rate', title: '成功率（%）', align: 'center', width: 80,style: ' color: red; '},

        {field: 'platform', title: '平台收益（元）', align: 'center', width: 100,style: ' color: red; '},
        {field: 'info', title: '详情', align: 'center', minWidth: 20, templet: '#info'},
    ]]);

    /**
     * 日期范围
     */
    $.laydate.datetime('day');

</script>
{/block}
