{extend name="admin@public/basic" /}

{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/admin/public.css" media="all"/>
<link rel="stylesheet" href="__STATIC__/css/admin/99admin.css" media="all" />
{/block}

{block name="cotent"}
<form class="layui-form">

    <!--顶部操作栏--开始-->
    <blockquote id="searchBlock" class=" quoteBox">

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">商户号</label>
            <div class="layui-input-inline">
                <input type="text" id="uid" class="layui-input" placeholder="请输入用商户号"/>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">日期</label>
            <div class="layui-input-inline">
                <input type="text" id="day" class="layui-input " placeholder="请选择日期"    >
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <a class="layui-btn layui-btn-sm " data-search="currentTableId">搜索</a>
        </div>

    </blockquote>
    <!--顶部操作栏--结束-->

    <!--主表单渲染--开始-->
    <table id="currentTable" lay-filter="currentTable"></table>
    <!--主表单渲染--结束-->

    <!--表单IP--开始-->
    <script type="text/html" id="IPcopy">
        {{d.location}}
        {{d.ip}}
    </script>
    <!--表单IP--结束-->

    <!--表单Name--开始-->
    <script type="text/html" id="Name">
        {{d.auth_title}}-{{d.nickname}}
    </script>
    <!--表单IP--结束-->
    <script type="text/html" id="info">
        <a class="layui-btn layui-btn-xs layui-btn-normal "    value="{{d.id}}" data-open='{:url("$thisClass/info")}?id={{d.id}}' data-title="商户号：{{d.uid}}--日期：{{d.day}}--支付通道分析">支付通道分析</a>
    </script>


</form>
{/block}

{block name="script"}

<script       >

    /**
     * 生成表单
     */
    $.form.table('current', '{:url("$thisRequest")}?type=ajax', [[
        {field: 'id', title: 'ID', minWidth: 40, align: "center"},
        {field: 'uid', title: '商户号', minWidth: 40, align: "center"},
        {field: 'day', title: '日期', minWidth: 20, align: "center"},
        {field: 'total_orders', title: '总订单数', align: 'center', minWidth: 20},
        {field: 'total_paid', title: '支付订单数', align: 'center', minWidth: 20},
        {field: 'total_fee_all', title: '总金额（元）', align: 'center', minWidth: 20},
        {field: 'total_fee_paid', title: '总支付金额（元）', align: 'center', minWidth: 20},
        {field: 'total_fee', title: '手续费（元）', align: 'center', minWidth: 20},
        {field: 'rate', title: '成功率（%）', align: 'center', width: 80,style: ' color: red; '},
        {field: 'info', title: '详情', align: 'center', minWidth: 20, templet: '#info'},
    ]]);

    /**
     * 日期范围
     */
    $.laydate.datetime('day');

</script>
{/block}
