<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{$title|default=''}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="__ADMIN__/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__ADMIN__/layuiadmin/style/admin.css" media="all">
    <style>
        .layui-table-cell {
            padding: 0 0;
            font-size:14px;
        }

    </style>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">

            <div class="layui-card">
                <div class="layui-card-header"> 下载页面 </div>
                <blockquote class="layui-elem-quote">
                    3000条一页，需手动翻页下载
                    <div class="layui-form-item layui-inline">
                </div>
                </blockquote>
                <div class="layui-card-body">
                    <a class="layui-btn layui-btn-sm layui-btn-normal " onclick="btu()">导出当前页数据</a>
                    <table class="layui-hide" id="test-table-cellEdit" lay-filter="test-table-cellEdit"></table>
                    <div id="page"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__STATIC__/plugs/jquery/jquery-2.2.4.min.js"></script>
<script src="__ADMIN__/layuiadmin/layui/layui.all.js"></script>
<script>
    var btu ;
    layui.config({
        base: '__ADMIN__/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'layer','laypage'], function(){
        var table = layui.table,
           layer = parent.layer === undefined ? layui.layer : top.layer,
           laypage = layui.laypage;

        var field = JSON.parse('{$data["field"]|raw}');
        var title1 = JSON.parse('{$data["title"]|raw}');
        var col = {field:'id', title:'ID', minWidth:1, align: 'center'}
        var cols = [];

        for(let key  in field){
            col.field = field[key];
            col.title = title1[field[key]];
            if( typeof(col.title) !== 'undefined' && col.title != '' ){
                cols.push(col);
            }
            col = {field:'id', title:'ID', minWidth:1, align: 'center'}
        }
        var limit = 3000;
        var page = 1;

        var  data = {
            elem: '#test-table-cellEdit'
            ,url: '{$url|raw}'+'&type=ajax'
            ,toolbar: true
            ,defaultToolbar: ['filter']
            ,where: {
                "page":page,//当前页（必传参数，可改变参数名）
                "limit":limit,//每页条数（必传参数，可改变参数名）
            }
            ,height: 200
            ,page: false
            ,title:'{$title|default=""}'+'{:date("#Y-m-d")}'
            ,id: 'test-table-cellEdit'
            ,cols: [cols],
            done:function(res,curr,count){
                laypage.render({
                    elem: 'page', //注意，这里的 test1 是 ID，不用加 # 号
                    count:count,
                    curr:data.where.page,
                    limit:data.where.limit,
                    limits:[data.where.limit],
                    prev:"<<",
                    next:">>",
                    theme:"#0099ff",
                    layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
                   jump:function (obj,first) {
                        if(!first){
                            data.where.page = obj.curr;
                            data.where.limit = obj.limit;
                            data.title = data.title+'_'+data.where.page;
                            page = obj.curr;
                            table.render(data)
                        }
                    }
                });


                btu = function () {
                    table.exportFile('test-table-cellEdit',res.data, 'csv');
                }

            }
        };

        table.render(data);

    });





</script>
</body>
</html>