{extend name="admin@public/basic" /}
{block name="style"}{/block}
<link rel="stylesheet" href="__STATIC__/css/admin/public.css" media="all"/>
{block name="cotent"}
<form class="layui-form form-width-99admin">
    <br>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">权限角色</label>
        <div class="layui-input-block">
            <input type="text" name="title" class="layui-input" lay-verify="required" value="{$auth.title|default=''}" placeholder="请输入系统角色">
        </div>
    </div>

    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">分类</label>
        <div class="layui-input-block">
            <input type="radio" name="type1" value="0" title="商户"  {eq name='$auth.type1|default=0' value='0' }checked="checked" {/eq}      ><div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon layui-anim-scaleSpring"></i><div>商户</div></div>
            <input type="radio" name="type1" value="1" title="代理"    {eq name='$auth.type1|default=0' value='1' }checked="checked" {/eq}  ><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>代理</div></div>

        </div>
    </div>


    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">备注信息</label>
        <div class="layui-input-block">
            <textarea name="remark" placeholder="请输入备注信息" class="layui-textarea">{$auth.remark|default=''}</textarea>
        </div>
    </div>

    {if !empty($auth)}
    <input type="hidden" name="id" value="{$auth.id|default=''}">
    {/if}


    {if !empty($Think.get.type)}
        <input type="hidden" name="type" value="{$Think.get.type|default='0'}">
    {/if}

    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-sm" id="submitBtn" lay-submit lay-filter="submitBtn">提交</button>
            <button class="layui-btn layui-btn-sm layui-btn-primary" data-close="closeOpen">取消</button>
        </div>
    </div>
</form>
{/block}

{block name="script"}
<script       >

    /**
     * 添加、编辑
     */

    $.form.on('submitBtn', "{if empty($auth)}{:url('@admin/auth/add')}{else/}{:url('@admin/auth/edit')}{/if}", function (res) {
        $.msg.success(res.msg, function () {
            $.tool.reload('open');
        });
        return false;
    },true);
    

</script>
{/block}
