{extend name="admin@public/basic" /}

{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/admin/public.css" media="all"/>

{/block}

{block name="cotent"}

<div class="layui-card">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">{$title|default=''}</li>
        </ul>
        <div class="layui-tab-content">
            <form class="layui-form">

                <!--顶部操作栏--开始-->
                <blockquote id="searchBlock" class=" quoteBox">

                    <div class="layui-form-item layui-inline">

                        <div class="layui-input-inline">
                            <input type="text" id="relate" class="layui-input" placeholder="请输入关联单号"/>
                        </div>
                    </div>

                    <div class="layui-form-item layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" id="create_at" class="layui-input " placeholder="请选择创建时间"    >
                        </div>
                    </div>

                    <div class="layui-form-item layui-inline">
                        <a class="layui-btn layui-btn-sm " data-search="currentTableId">搜索</a>
                    </div>

                </blockquote>
                <!--顶部操作栏--结束-->

                <!--主表单渲染--开始-->
                <table id="currentTable" lay-filter="currentTable"></table>
                <!--主表单渲染--结束-->
            </form>

        </div>
    </div>
</div>




{/block}

{block name="script"}

<script       >


    /**
     * 生成表单
     */
    $.form.table('current', '{:url("$thisRequest")}?type=ajax', [[
        {field: 'uid', title: '商户号', minWidth: 40, align: "center"},
        {field: 'title', title: '操作类型', minWidth: 20, align: "center"},
        {field: 'before_balance', title: '变动前金额', align: 'center', minWidth: 20},
        {field: 'change', title: '变动金额', align: 'center', minWidth: 20},
        {field: 'balance', title: '变动后金额', align: 'center', minWidth: 20},
        {field: 'relate', title: '关联', align: 'center', minWidth: 20},
        {field: 'create_at', title: '创建时间', align: 'center', minWidth: 20},
    ]]);

    /**
     * 日期范围
     */
    $.laydate.range('create_at',1);

</script>
{/block}
