{extend name="user@public/basic" /}

{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/admin/public.css" media="all"/>

{/block}

{block name="cotent"}

<div class="layui-card">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">{$title|default=''}</li>
        </ul>
        <div class="layui-tab-content">
            <form class="layui-form">

                <!--顶部操作栏--开始-->
                <blockquote id="searchBlock" class=" quoteBox">

                    <div class="layui-form-item layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" id="day" class="layui-input " placeholder="日期"    >
                        </div>
                    </div>

                    <div class="layui-form-item layui-inline">
                        <a class="layui-btn layui-btn-sm " data-search="currentTableId">搜索</a>
                    </div>

                </blockquote>
                <!--顶部操作栏--结束-->

                <!--主表单渲染--开始-->
                <table id="currentTable" lay-filter="currentTable"></table>
                <!--主表单渲染--结束-->



            </form>

        </div>
    </div>
</div>


{/block}

{block name="script"}

<script       >


    /**
     * 生成表单
     */
    $.form.table('current', '{:url("$thisRequest")}?type=ajax', [[
        {field: 'day', title: '日期', minWidth: 20, align: "center"},
        {field: 'total_orders', title: '总订单数', align: 'center', minWidth: 20},
        {field: 'total_paid', title: '支付订单数', align: 'center', minWidth: 20},
        {field: 'total_fee_all', title: '总金额（元）', align: 'center', minWidth: 20},
        {field: 'total_fee_paid', title: '总支付金额（元）', align: 'center', minWidth: 20},
        {field: 'total_fee', title: '手续费（元）', align: 'center', minWidth: 20},
        {field: 'rate', title: '成功率（%）', align: 'center', width: 100,style: ' color: red; '},
    ]]);

    /**
     * 日期范围
     */
    $.laydate.datetime('day');

</script>
{/block}
