{extend name="user@public/basic" /}
{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/admin/public.css" media="all"/>
{/block}
{block name="cotent"}
<form class="layui-form form-width-99admin">
</br>
    <input type="hidden" name="id" value="{$info.id|default=''}">
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">银行卡号</label>
        <div class="layui-input-block">
            <input type="text" name="card_number"   class="layui-input" lay-verify="required" value="{$info.card_number|default=''}" placeholder="例如：5223204222268453115">
        </div>
    </div>

    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">银行名称</label>
        <div class="layui-input-block">
            <select class="bank_id"  name="bank_id"  lay-verify="required"  lay-search=""   >
                <option value=""    >请选择银行卡</option>
                {foreach $bank as $k =>$vo}
                <option value="{$k|default=''}"    {eq name='$info.bank_id|default=false' value='$k' }selected{/eq} >{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">所在支行</label>
        <div class="layui-input-block">
            <input type="text" name="branch_name"  class="layui-input" lay-verify="required" value="{$info.branch_name|default=''}" placeholder="例如：龙岗支行">
        </div>
    </div>

    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-inline">
            <label class="layui-form-label">省份      </label>
            <div class="layui-input-block">
                <input type="text" name="province"   class="layui-input"  placeholder="例如：广东省">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">城市</label>
            <div class="layui-input-block">
                <input type="text" id="city"   class="layui-input"  placeholder="例如：深圳市" >
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">开户人</label>
        <div class="layui-input-block">
            <input type="text" name="account_name"   class="layui-input" lay-verify="required" value="{$info.account_name|default=''}" placeholder="例如：张三">
        </div>
    </div>
    {:token('__token__', 'sha1')}

    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-sm" id="submitBtn" lay-submit lay-filter="submitBtn"    >提交</button>
            <button class="layui-btn layui-btn-sm layui-btn-primary" data-close="closeOpen">取消</button>
        </div>
    </div>
</form>
{/block}

{block name="script"}

<script>

    /**
     * 添加、编辑
     */
    $.form.on('submitBtn','{:url("$thisRequest")}', function (res) {
        $.msg.success(res.msg, function () {
            $.tool.reload('open');
        });
        return false;
    },true);

</script>
{/block}
