{extend name="agent@public/basic" /}

{block name="cotent"}


<div class="layui-card">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">{$title|default=''}</li>
        </ul>
        <div class="layui-tab-content">

            {if !empty($user['google_token']) }

            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>
                    <button class="layui-btn layui-btn-primary " >已绑定绑定谷歌</button>
                </legend>
            </fieldset>
            {else /}
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>
                    <button class="layui-btn   layui-btn-danger  " id="googleBtn">确认绑定谷歌</button>

                    <input type="hidden" id="token" value="{$user.token}" >
                </legend>
            </fieldset>

            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 40px;">
                <div class="layui-card">
                    <div class="layui-card-header" style="height: auto">
                        谷歌验证二维码
                        <i class="layui-icon layui-icon-tips" lay-tips="谷歌验证二维码" lay-offset="5"></i>
                        <span>您必须现在智能设备上安装一个MFA应用程序，才可以继续进行操作。在智能设备上支持MFA的常用应用程序有 </span>
                        <a href="http://www.eagle2fa.com/" target="_blank" style="color:red;font-weight:bold;">谷歌身份验证器(点击下载)</a>
                    </div>
                    <div class="layui-card-body layui-text layadmin-text" style="text-align: center">

                        <img src="{:getGoogleQr($user.token)}" width="300px">

                    </div>
                </div>
            </fieldset>
            {/if}
        </div>
    </div>
</div>



{/block}

{block name="script"}
<script     >

    /**
     * 绑定谷歌
     */
    $("#googleBtn").click(function () {
        var google_token = $("#token").val();
        $.request.post("{:url('@agent@/agent@/save_google')}", {'google_token':google_token,'__token__':"{$Request.token}"}, function (res) {
            $.msg.success(res.msg, function () {
                $.tool.reload('open');
            })
        });
        return false;
    });
</script>
{/block}