{extend name="user@public/basic" /}
{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/admin/public.css" media="all"/>
<link rel="stylesheet" href="__STATIC__/css/admin/99admin.css" media="all" />
{/block}
{block name="cotent"}
<!--  搜索-->
<div class="layui-card">
    <div class="layui-card-header">{$title|default=''}</div>
</div>
<form class="layui-form">
<blockquote id="searchBlock" class="layui-elem-quote quoteBox">

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label-99admin">开户人</label>
        <div class="layui-input-inline">
            <input type="text" id="account_name" class="layui-input" placeholder="请输入开户人"/>
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label-99admin">订单号</label>
        <div class="layui-input-inline">
            <input type="text" id="system_sn" class="layui-input" placeholder="请输入订单号"/>
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label-99admin">申请状态</label>
        <div class="layui-input-inline">
            <select id="status" class="status" lay-filter="status">
                <option value="">请选择</option>
                <option value="1">处理中</option>
                <option value="3">已完成</option>
                <option value="4">失败退款</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label-99admin">创建时间</label>
        <div class="layui-input-inline">
            <input type="text" id="create_at" class="layui-input " placeholder="请选择创建时间">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <a class="layui-btn layui-btn-sm" data-search="currentTableId">搜索</a>
    </div>

    {if auth("$thisClass/addWithdrawal")}
    <div class="layui-form-item layui-inline">
        <a class="layui-btn layui-btn-normal layui-btn-sm" data-open='{:url("$thisClass/addWithdrawal")}' data-title="申请提现">申请提现</a>
    </div>
    {/if}
</blockquote>
<script type="text/html" id="checkStatus">
    {{# if (d.status == '1' || d.status == '2') { }}
    <div style="color:#1E9FFF;">处理中</div>
    {{# } else if(d.status == 3) { }}  
    <div style="color:#0ac933;">已完成</div>
    {{# } else { }}  
    <div style="color:red;">失败,已退款</div>
    {{# } }}  
</script>
<!-- end --->
<table id="currentTable" lay-filter="currentTable"></table>

</form>
{/block}
{block name="script"}
<script>

$.form.table('current', '{:url("$thisRequest")}?type=ajax', [[

        {field: 'system_no', title: '订单号', minWidth: 100, align: 'center'},
        {field: 'amount', title: '申请金额', width: 100, align: 'center'},
        {field: 'fee', title: '手续费', width: 80, align: "center"},
        {field: 'actual_amount', title: '实际到账',width: 100,align: 'center'},
        {field: 'card_number', title: '银行卡号', width: 150,  unresize: true, align: "center"},
        {field: 'account_name', title: '开户人', width: 80,  unresize: true, align: "center"},
        {field: 'bank_name', title: '银行名称', width: 100,  unresize: true, align: "center"},
        {field: 'location', title: '开卡地区', width: 190, unresize: true, align: "center"},
        {field: 'status', title: '状态', width: 90, templet: '#checkStatus', unresize: true, align: "center"},
        {field: 'create_at', title: '申请时间', width: 170, unresize: true, align: "center"},
        {field: 'remark1', title: '备注', width: 80,  align: "center"},
    {field: 'ip', title: 'IP', width: 80,  align: "center"},
    ]]);
    /**
     * 日期范围
     */
     $.laydate.range('create_at',7);

</script>
{/block}
