{extend name="user@public/basic" /}
{block name="style"}{/block}
<link rel="stylesheet" href="__STATIC__/css/admin/public.css" media="all"/>
{block name="cotent"}
<form class="layui-form form-width-99admin">
</br>
    <input type="hidden" name="bank_id" value="{$info.id|default=''}">
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">银行卡号</label>
        <div class="layui-input-block">
            <input type="text" name="card_number"   class="layui-input" lay-verify="required" value="{$info.card_number|default=''}" placeholder="例如：5223204222268453115">
        </div>
    </div>

    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">银行名称</label>
        <div class="layui-input-block">
            <input type="text" name="bank_name"  class="layui-input" lay-verify="required" value="{$info.bank_name|default=''}" placeholder="例如：工商银行">
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">所在支行</label>
        <div class="layui-input-block">
            <input type="text" name="branch_name"  class="layui-input" lay-verify="required" value="{$info.branch_name|default=''}" placeholder="例如：龙岗支行">
        </div>
    </div>
   
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">开卡地区</label>
        <div class="layui-input-block">
            <input type="text" name="location"  class="layui-input" lay-verify="required" value="{$info.location|default=''}" placeholder="例如：广东省 - 深圳市 - 龙岗区">
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">开户人</label>
        <div class="layui-input-block">
            <input type="text" name="account_name"   class="layui-input" lay-verify="required" value="{$info.account_name|default=''}" placeholder="例如：张三">
        </div>
    </div>
    {:token('__token__', 'sha1')}
   

    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-sm" id="submitBtn" lay-submit lay-filter="submitBtn"    >提交</button>
            <button class="layui-btn layui-btn-sm layui-btn-primary" data-close="closeOpen">取消</button>
        </div>
    </div>
</form>
{/block}

{block name="script"}

<script>
    
   
    /**
     * 添加、编辑
     */
    $.form.on('submitBtn', "{:url('@user/withdrawal/saveBark')}", function (res) {
        $.msg.success(res.msg, function () {
            $.tool.reload('open');
        });
        return false;
    },true);

</script>
{/block}
