{extend name="admin@public/basic" /}

{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/admin/public.css" media="all"/>
<link rel="stylesheet" href="__STATIC__/css/admin/99admin.css" media="all" />
{/block}

{block name="cotent"}
<form class="layui-form">

    <!--顶部操作栏--开始-->
    <blockquote id="searchBlock" class="layui-elem-quote quoteBox">

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">商户账号</label>
            <div class="layui-input-inline">
                <input type="text" id="username" class="layui-input" placeholder="请输入用商户账号"/>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">商户号</label>
            <div class="layui-input-inline">
                <input type="text" id="uid" class="layui-input" placeholder="请输入用商户号"/>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">权限组</label>
            <div class="layui-input-inline">
                <input type="text" id="title" class="layui-input" placeholder="请输入用权限组名称"/>
            </div>
        </div>


        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">操作信息</label>
            <div class="layui-input-inline">
                <input type="text" id="remark" class="layui-input" placeholder="请输入操作信息"/>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">路径</label>
            <div class="layui-input-inline">
                <input type="text" id="url" class="layui-input" placeholder="请输入路径"/>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">IP</label>
            <div class="layui-input-inline">
                <input type="text" id="ip" class="layui-input" placeholder="请输入IP号码"/>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label-99admin">创建时间</label>
            <div class="layui-input-inline">
                <input type="text" id="create_at" class="layui-input " placeholder="请选择创建时间"    >
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <a class="layui-btn layui-btn-sm " data-search="currentTableId">搜索</a>
        </div>


        {if auth("$thisClass/delete")}
        <div class="layui-form-item layui-inline">
            <a class="layui-btn  layui-btn-danger   layui-btn-sm"  id='delete' >删除前半个月记录</a>
        </div>
        {/if}

    </blockquote>
    <!--顶部操作栏--结束-->

    <!--主表单渲染--开始-->
    <table id="currentTable" lay-filter="currentTable"></table>
    <!--主表单渲染--结束-->

    <!--表单IP--开始-->
    <script type="text/html" id="IPcopy">
        {{d.location}}
        {{d.ip}}
    </script>
    <!--表单IP--结束-->

    <!--表单Name--开始-->
    <script type="text/html" id="Name">
      {{d.uid}}-{{d.auth_title}}-{{d.username}}
    </script>
    <!--表单IP--结束-->


</form>
{/block}

{block name="script"}

<script       >

    /**
     * 生成表单
     */
    $.form.table('current', '{:url("$thisRequest")}?type=ajax', [[
        {field: 'id', title: 'ID', minWidth: 20, align: "center"},
        {field: 'username', title: '用户名', minWidth: 20, align: "center",templet: '#Name'},
        {field: 'url', title: '访问路径', align: 'center', minWidth: 20},
        {field: 'param', title: '请求参数', align: 'center', minWidth: 20, unresize: true},
        {field: 'create_at', title: '创建时间', align: 'center', minWidth: 20},
        {field: 'remark', title: '操作信息', align: 'center', minWidth: 20, unresize: true},
        {field: 'method', title: '请求方式', align: 'center', minWidth: 20},
        {field: 'location', title: '地址', minWidth: 20, align: "center", unresize: true,templet: '#IPcopy'},
    ]]);

    /**
     * 日期范围
     */
    $.laydate.range('create_at',7);


    $("#delete").click(function () {
        $.request.post('{:url("$thisClass/delete")}?type1=delete&type=2', {}, function (res) {
            $.msg.success(res.msg, function () {
                $.tool.reload();
            });
        });


    });

</script>
{/block}
