{extend name="admin@public/basicTree" /}

{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/admin/99admin.css" media="all" />
<style>
    /* layui-table 表格内容允许换行 */
    .layui-table-cell {

        height:auto;
        overflow:visible;
        text-overflow:inherit;
        white-space:normal;
        word-break: break-all;
    }
</style>
{/block}

{block name="cotent"}
<form class="layui-form">

    <!--顶部操作栏--开始-->
    <blockquote id="searchBlock" class="layui-elem-quote quoteBox">

        <div class="layui-form-item layui-inline">
            <div class="layui-input-inline">
                <input type="text" id="username" class="layui-input" placeholder="请输入代理名称"/>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <div class="layui-input-inline">
                <input type="text" id="phone" class="layui-input" placeholder="请输入手机号"/>
            </div>
        </div>

        <div class="layui-form-item layui-inline">

            <div class="layui-input-inline">
                <input type="text" id="qq" class="layui-input" placeholder="请输入QQ号码"/>
            </div>
        </div>

        <div class="layui-form-item layui-inline">

            <div class="layui-input-inline">
                <input type="text" id="create_at" class="layui-input " placeholder="请选择创建时间">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <a class="layui-btn layui-btn-sm" data-search-tree="currentTableId">搜索</a>
        </div>

        {if auth("$thisClass/add")}
        <div class="layui-form-item layui-inline">
            <a class="layui-btn layui-btn-normal layui-btn-sm" data-open='{:url("$thisClass/add")}' data-title="添加代理或者代理">添加</a>
        </div>
        {/if}

        {if auth("$thisClass/del")}
        <div class="layui-form-item layui-inline">
            <a class="layui-btn layui-btn-danger layui-btn-normal layui-btn-sm" data-title="确定批量删除？" data-del-all-tree='{:url("$thisClass/del")}' data-table-id="currentTableId">删除</a>
        </div>
        {/if}

    </blockquote>
    <!--顶部操作栏--结束-->

    <!--主表单渲染--开始-->
    <table id="currentTable" lay-filter="currentTable"></table>
    <!--主表单渲染--结束-->

    <!--表单模板绑定--开始-->

    <script type="text/html" id="money">

        {if auth("$thisClass/money")}
        <span  data-open='{:url("$thisClass/money")}?uid={{d.uid}}' data-title="商户号：{{d.uid}}">总金额：{{d.money.total_money}}，可用余额：{{d.money.balance}}
                {{ d.money.artificial != '0.000' ? ',人工冻结:'+d.money.artificial : '' }}
                {{ d.money.frozen_amount != '0.000' ? ',冻结:'+d.money.frozen_amount : '' }}
                {{ d.money.frozen_amount_t1 != '0.000' ? ',T1冻结:'+d.money.frozen_amount_t1 : '' }}
            </span>
        {/if}
    </script>


    <script type="text/html" id="group">

        {{# if (d.group_title == '未分组') { }}
        <a class="layui-btn layui-btn-xs layui-btn-danger "     value="{{d.id}}" data-open='{:url("$thisClass/group")}?uid={{d.uid}}' data-title="{{d.uid}}--选择通道分组">{{ d.profile.pid != 0 ? d.profile.pid : '' }}{{d.group_title}}</a>
        {{# } else { }}
        <a class="layui-btn layui-btn-xs" style="background-color: #7EC0EE"    value="{{d.id}}" data-open='{:url("$thisClass/group")}?uid={{d.uid}}' data-title="{{d.uid}}--选择通道分组">{{ d.profile.pid != 0 ? d.profile.pid : '' }}{{d.group_title}}</a>
        {{# } }}
    </script>

    <script type="text/html" id="channel">
        {if auth("$thisClass/channel")}
        <a class="layui-btn layui-btn-xs " style="background-color: #00b7ee;"     data-open='{:url("$thisClass/channel")}?uid={{d.uid}}' data-title="商户号：{{d.uid}}-支付通道分组与费率">支付通道与费率</a>
        {/if}
    </script>

    <script type="text/html" id="level">
        <a class="layui-btn layui-btn-xs" style="background-color: #7EC0EE"    value="{{d.id}}" data-open='{:url("$thisClass/relations")}?uid={{d.uid}}' data-title="代理关系表">{{d.profile.level}}</a>
    </script>

    <script type="text/html" id="checkStatus">
        <input type="checkbox" name="{{d.id}}" value="{{d.status}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="modifyStatus" {{ d.status== 1 ? 'checked' : '' }}>
    </script>

    <script type="text/html" id="checkSingle">
        <input type="checkbox" name="{{d.id}}" value="{{d.is_single}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="modifySingle" {{ d.is_single== 1 ? 'checked' : '' }}>
    </script>
    <script type="text/html" id="paypwd">
        <input type="checkbox" name="{{d.id}}" value="" lay-skin="switch" lay-text="启用|已重置" lay-filter="modifyPaypwd" {{ 1 ? 'checked' : '' }}>
    </script>

    <script type="text/html" id="checkGoogle">
        <input type="checkbox" name="{{d.id}}" value="{{d.google_token}}" lay-skin="switch" lay-text="启用|未绑定" lay-filter="modifyGoogle" {{ d.google_token == 1 ? 'checked' : '' }}>
    </script>

    <!--表单模板绑定--结束-->

    <!--表单操作栏--开始-->
    <script type="text/html" id="product">

        {if auth("$thisClass/channel")}
        <a class="layui-btn layui-btn-xs layui-btn-green" data-open='{:url("$thisClass/edit_password")}?id={{d.id}}' data-title="修改代理密码">支付产品</a>
        {/if}

        {if auth("$thisClass/rate")}
        <a class="layui-btn layui-btn-xs layui-btn-danger" data-title="确定删除？" data-del='{:url("$thisClass/del")}?id={{d.id}}'>费率</a>
        {/if}

    </script>



    <script type="text/html" id="currentTableBar">

        {if auth("$thisClass/add_staff")}
            {{# if (d.who == 0 || d.who == 2 ) { }}
            <a class="layui-btn layui-btn-xs" style="background-color: #2C9DD5"    value="{{d.id}}" data-open='{:url("$thisClass/add_staff")}?pid={{d.id}}&type=3' data-title="添加代理员工">添加员工</a>
            {{# } }}
        {/if}

        {if auth("$thisClass/edit_password")}
        <a class="layui-btn layui-btn-xs layui-btn-green" data-open='{:url("$thisClass/edit_password")}?id={{d.id}}' data-title="修改代理密码">修改密码</a>
        {/if}

        {if auth("$thisClass/edit")}
            {{# if (d.who == 1 || d.who == 3 ) { }}
                <a class="layui-btn layui-btn-xs  layui-btn layui-btn-warm  " data-open='{:url("$thisClass/edit_staff")}?id={{d.id}}' data-title="修改代理员工信息">编辑员工信息</a>
            {{# } else { }}
                <a class="layui-btn layui-btn-xs  layui-btn layui-btn-warm" data-open='{:url("$thisClass/edit")}?id={{d.id}}' data-title="修改代理信息">编辑</a>
            {{# } }}

        {/if}

        {if auth("$thisClass/del")}
        <a class="layui-btn layui-btn-xs layui-btn-danger" data-title="确定删除？" data-del='{:url("$thisClass/del")}?id={{d.id}}'>删除</a>
        {/if}

    </script>
    <!--表单操作栏--结束-->
</form>
{/block}

{block name="script"}

        /**
         * 生成表单
         */
        $.form.tableTree('current', '{:url("$thisRequest")}?type=ajax', [[
            {type: "checkbox", fixed: "left", width: 50},
            {field: 'uid', title: '代理号', minWidth: 20, align: "center"},
            {field: 'group_title', title: '用户分组', minWidth: 20,  align: "center", templet: '#group'},
            {field: 'channel', title: '通道与费率', minWidth: 30,   align: "center", templet: '#channel'},
            {field: 'money', title: '账户金额', minWidth: 240, align: "center", templet: '#money',style: 'background-color: #A2B5CD; color: #fff; '},
            {field: 'level', title: '等级', minWidth: 20, align: "center", templet: '#level'},
            /**{if auth("$thisClass/paypwd")}**/
            {field: 'paypwd', title: '重置支付密码', minWidth: 30,  align: "center", templet: '#paypwd'},
            /**{/if}**/

            {field: 'username', title: '用户名', minWidth: 80, align: "center"},
            {field: 'nickname', title: '昵称',  minWidth: 80, align: "center"},

            {field: 'remark', title: '备注',  minWidth: 80, edit: 'text', align: "center",style: 'background-color: #009688; color: #fff; border-radius: 15px;'},
            {field: 'auth_title', title: '权限配置',  minWidth: 80, align: "center"},

            /**{if auth("$thisClass/single")}**/
            {field: 'is_single', title: '单点登入', minWidth: 20, templet: '#checkSingle', unresize: true, align: "center"},
            /**{/if}**/

            /**{if auth("$thisClass/google")}**/
            {field: 'status', title: '重置谷歌', minWidth: 20, templet: '#checkGoogle', unresize: true, align: "center"},
            /**{/if}**/
            /**{if auth("$thisClass/status")}**/
            {field: 'status', title: '启用状态', minWidth: 80, templet: '#checkStatus', unresize: true, align: "center"},
            /**{/if}**/

            /**{if auth("$thisClass/edit_password") || auth("$thisClass/edit") || auth("$thisClass/del")}**/
            {title: '操作', minWidth: 200, templet: '#currentTableBar', align: "center", unresize: true},
            /**{/if}**/
            {field: 'create_by_username', title: '创建人', align: 'center'},
            {field: 'phone', title: '用户手机', align: 'center'},
            {field: 'qq', title: '用户QQ', align: 'center'},
            {field: 'create_at', title: '创建时间', align: 'center', minWidth: 150},
        ]], 'username','pid',true,function (res,curr,count){
            merge(res,['uid','group_title','uid','uid','uid'],[1,2,3,4,5]);
        });



        /**
         * 日期范围
         */
        $.laydate.range('create_at');

        /**
         * 监听字段值编辑
         */
        $.form.editFieldTree('currentTable', '{:url("$thisRequest")}');


        /**
         * 修改状态
         */
        $.form.switch('modifyStatus', '{:url("$thisClass/status")}');
        $.form.switch('modifySingle', '{:url("$thisClass/single")}');
        $.form.switch('modifyGoogle', '{:url("$thisClass/google")}');
        $.form.switch('modifyPaypwd', '{:url("$thisClass/paypwd")}');


{/block}
