{extend name="admin@public/basic" /}
{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/admin/public.css" media="all"/>
<link rel="stylesheet" href="__STATIC__/css/admin/99admin.css" media="all" />
{/block}
{block name="cotent"}

<!--  搜索-->

<form class="layui-form">
<blockquote id="searchBlock" class="layui-elem-quote quoteBox">

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label-99admin">商户号</label>
        <div class="layui-input-inline">
            <input type="text" id="uid" class="layui-input" placeholder="请输入商户号"/>
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label-99admin">开户人</label>
        <div class="layui-input-inline">
            <input type="text" id="account_name" class="layui-input" placeholder="请输入开户人"/>
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label-99admin">时间</label>
        <div class="layui-input-inline">
            <input type="text" id="update_at" class="layui-input " placeholder="请选择创建时间">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <a class="layui-btn layui-btn-sm" data-search="currentTableId">搜索</a>
    </div>


    {if auth("$thisClass/del")}
    <div class="layui-form-item layui-inline">
        <a class="layui-btn layui-btn-danger layui-btn-normal layui-btn-sm" data-title="确定批量删除？" data-del-all='{:url("$thisClass/delBank")}' data-table-id="currentTableId">删除</a>
    </div>
    {/if}
</blockquote>

<!-- end --->
<table id="currentTable" lay-filter="currentTable"></table>
<script type="text/html" id="currentTableBar">

    {if auth("$thisClass/delBank")}
    <a class="layui-btn layui-btn-xs layui-btn-danger" data-title="确定删除？" data-del='{:url("$thisClass/delBank")}?id={{d.id}}'>删除</a>
    {/if}

</script>
</form>
{/block}
{block name="script"}
<script>

$.form.table('current', '{:url("$thisRequest")}?type=ajax', [[
        {type: "checkbox", fixed: "left", width: 50,},
        {field: 'uid', title: '所属商户号', minwidth: 1, align: 'center'},
        {field: 'account_name', title: '开户人', minwidth: 1, align: 'center'},
        {field: 'card_number', title: '银行卡号', minwidth: 1, align: "center"},
        {field: 'bank_name', title: '开户银行', align: 'center'},
        {field: 'branch_name', title: '所在支行', minwidth: 1,   align: "center"},
        {field: 'province', title: '省份', minwidth: 1, align: "center"},
        {field: 'city', title: '城市', minwidth: 1, align: "center"},
        {field: 'areas', title: '地区', minwidth: 1, align: "center"},
        {field: 'update_at', title: '最近更新时间', minwidth: 1, align: "center", sort: true},
        {field: 'update_name', title: '操作人', minwidth: 1, align: "center"},
        {title: '操作', minWidth: 1, templet: '#currentTableBar', fixed: "right", align: "center"},
    ]],true,function (res,curr,count){
    merge(res,['uid'],['1']);
});

    /**
     * 日期范围
     */
     $.laydate.range('update_at',7);


function merge(res,columsName,columsIndex) {

    var data = res.data;
    var mergeIndex = 0;//定位需要添加合并属性的行数
    var mark = 1; //这里涉及到简单的运算，mark是计算每次需要合并的格子数
    var columsName = columsName;//需要合并的列名称
    var columsIndex = columsIndex;//需要合并的列索引值

    for (var k = 0; k < columsName.length; k++) { //这里循环所有要合并的列
        var trArr = $(".layui-table-body>.layui-table").find("tr");//所有行
        for (var i = 1; i < res.data.length; i++) { //这里循环表格当前的数据
            var tdCurArr = trArr.eq(i).find("td").eq(columsIndex[k]);//获取当前行的当前列
            var tdPreArr = trArr.eq(mergeIndex).find("td").eq(columsIndex[k]);//获取相同列的第一列

            if (data[i][columsName[k]] === data[i-1][columsName[k]]) { //后一行的值与前一行的值做比较，相同就需要合并
                mark += 1;
                //相同列的第一列增加rowspan属性
                tdPreArr.each(function () {
                    $(this).attr("rowspan", mark);
                });
                //当前行隐藏
                tdCurArr.each(function () {
                    $(this).css("display", "none");
                });
            }else {
                mergeIndex = i;
                mark = 1;//一旦前后两行的值不一样了，那么需要合并的格子数mark就需要重新计算
            }
        }
        mergeIndex = 0;
        mark = 1;
    }
}

</script>
{/block}
