{extend name="admin@public/basic" /}

{block name="style"}
<link rel="stylesheet" href="__STATIC__/css/admin/public.css" media="all"/>
<link rel="stylesheet" href="__STATIC__/css/admin/99admin.css" media="all" />
{/block}

{block name="cotent"}
<form class="layui-form">

    <!--顶部操作栏--开始-->
    <blockquote id="searchBlock" class="layui-elem-quote quoteBox">

        <div class="layui-form-item layui-inline">
            <div class="layui-input-inline">
                <input type="text" id="mch_id" class="layui-input" placeholder="请输入商户号"/>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <div class="layui-input-inline">
                <input type="text" id="mch_id1" class="layui-input" placeholder="请输入代理商户号"/>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <div class="layui-input-inline">
                <input type="text" id="out_trade_no" class="layui-input" placeholder="商户单号"/>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <div class="layui-input-inline">
                <input type="text" id="system_no" class="layui-input" placeholder="系统单号"/>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <div class="layui-input-inline">
                <input type="text" id="transaction_no" class="layui-input" placeholder="上游单号"/>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <div class="layui-input-inline">
                <input type="text" id="ip" class="layui-input" placeholder="请输入ip"/>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <div class="layui-input-inline">
                <input type="text" id="channel_name" class="layui-input" placeholder="通道"/>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <div class="layui-input-inline">
                <input type="text" id="channelgroup_name" class="layui-input" placeholder="通道分组"/>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <div class="layui-input-inline">
                <select id="payment_id" class="payment_id" lay-filter="payment_id">
                    <option value="">请选择支付类型</option>
                    {foreach $product as $k => $vo}
                    <option value="{$k|default=''}">{$vo|default=''}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <div class="layui-input-inline">
                <input type="text" id="amount" class="layui-input" placeholder="价格区间:1-200"/>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <div class="layui-input-inline">
                <select id="pay_status"  class="pay_status" lay-filter="pay_status">
                    <option value="">请选择支付状态</option>
                    {foreach $order['pay_status'] as $k => $vo}
                    <option value="{$k|default=''}">{$vo|default=''}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <div class="layui-input-inline">
                <select id="notice"   class="notice" lay-filter="notice">
                    <option value="">请选择通知状态</option>
                    {foreach $order['notice'] as $k => $vo}
                    <option value="{$k|default=''}">{$vo|default=''}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <div class="layui-input-inline">
                <input type="text" id="create_at" class="layui-input " placeholder="请选择创建时间">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <a class="layui-btn layui-btn-sm" data-search="currentTableId">搜索</a>
        </div>

        {if auth("$thisClass/export") }
        <div class="layui-form-item layui-inline">
            <a class="layui-btn layui-btn-sm layui-btn-normal " data-export='{:url("$thisClass/export")}'>导出</a>
        </div>
        {/if}
    </blockquote>
    <!--顶部操作栏--结束-->

    <div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;">
        <span class="layui-btn" onclick="btu()">统计当前页数据</span>
    </div>

    <!--主表单渲染--开始-->
    <table id="currentTable" lay-filter="currentTable"></table>
    <!--主表单渲染--结束-->

    <!--主表单渲染--结束-->
    <script type="text/html" id="pay_status1">
        {{# if (d.pay_status == '0') { }}
        <div>待支付</div>
        {{# } else if(d.pay_status == 1) { }}
          <div style="color:#EEDC82;">下单失败</div>
        {{# } else if(d.pay_status == 2) { }}
        <div style="color:#1E9FFF;">已支付</div>
        {{# } else { }}
        <div style="color:red;">已关闭</div>
        {{# } }}
    </script>

    <script type="text/html" id="total_fee">
        {{d.total_fee}}-({{d.run_rate}})
    </script>
    <script type="text/html" id="profit">
        平台:{{d.Platform}}
        |上游:{{d.upstream_settle}}-({{d.cost_rate}})
        {{# if (d.mch_id1 != '0') { }}
        |上级代理:{{d.mch_id1}}-{{d.agent_amount}}-({{d.agent_rate}})
        {{# } }}
        {{# if (d.mch_id2 != '0') { }}
        |上上级代理:{{d.mch_id2}}-{{d.agent_amount2}}-({{d.agent_rate2}})
        {{# } }}
    </script>

    <script type="text/html" id="notice1">
        {{# if (d.notice == '1') { }}
        <div>未通知</div>
        {{# } else if(d.notice == 2) { }}
        <div style="color:#1E9FFF;">已通知</div>
        {{# } else { }}
        <div style="color:red;">通知失败</div>
        {{# } }}
    </script>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-normal layui-btn-sm" data-open='{:url("$thisClass/details")}?id={{d.id}}' data-title="订单详情">详情</a>
        {{# if (d.pay_status != 1) { }}
        {if auth("$thisClass/query_order")  }
        <a class="layui-btn layui-btn-green layui-btn-sm"  onclick="query_order('{:url("$thisClass/query_order")}?id={{d.id}}')"  >查询状态</a>
        {/if}
        {{# } }}
        {{# if (d.pay_status == 2) { }}
        {if auth("$thisClass/back_order")  }
        <a class="layui-btn layui-btn-danger layui-btn-sm" onclick="back_order('{:url("$thisClass/back_order")}?id={{d.id}}')" >手动退单</a>
        {/if}
        {{# } }}
    </script>
</form>
{/block}

{block name="script"}
<script  >
    var btu ;

    function query_order(url) {
        var Index = $.msg.confirm('确定要查询订单吗？', function () {
            $.msg.close(Index);
            $.request.post(url,{}, function (res) {
                alert(res['data']);
            }, true);

        });
    }

    function back_order(url) {
        var Index = $.msg.confirm('确定要退单吗？', function () {
            $.msg.close(Index);
            $.request.post(url,{}, function (res) {
                $.msg.success(res.msg)
            }, true);

        });
    }

    /**
     * 生成表单
     */
    $.form.table('current', '{:url("$thisRequest")}?type=ajax', [[
        {field:'mch_id', title:'商户号', minwith:1, align: 'center'},
        {field:'out_trade_no', title:'商户单号', minwith:1, align: 'center'},
        {field:'system_no', title:'系统单号', minwith:1, align: 'center'},
        {field:'amount', title:'下单金额', minwith:1, align: 'center'},
        {field:'total_fee', title:'手续费', minwith:1, align: 'center',toolbar: '#total_fee',},
        {field:'profit', title:'利润', minwith:1, align: 'center',templet: '#profit'},
        {field:'channelgroup_name', title:'通道分组', minwith:1, align: 'center'},
        {field:'product_name', title:'支付类型',minwith:1, align: 'center'},
        {field:'channel_name', title:'通道', minwith:1, align: 'center'},
        {field:'pay_status', title:'支付状态',toolbar: '#pay_status1', minwith:1, align: 'center'},
        {field:'notice', title:'通知状态', toolbar: '#notice1',minwith:1, align: 'center'},
        {field:'repair', title:'是否补单',  align: 'center', width: 50, templet: function (d) {
            if (d.repair == 0) {
                return '<span >否</span>';
            } else if(d.repair == 1) {
                return '<span class="text-navy">补单</span>';
            } else {
                return '<span class="text-danger">退单</span>';
            }
        }},
        {field:'actual_amount', title:'实际支付', minwith:1, align: 'center'},
        {field:'transaction_no', title:'上游单号', minwith:1, align: 'center'},
        {field:'create_time', title:'提交时间', minwith:1, align: 'center'},
        {field:'pay_time', title:'支付时间', minwith:1, align: 'center'},
        {field:'ip', title:'IP', minwith:1, align: 'center'},
        {field:'remark', title:'备注', minwith:1, align: 'center'},
        {field:'update_at', title:'最近更新时间', minwith:1, align: 'center'},

        /**{if auth("$thisClass/details") || auth("$thisClass/replacement") }**/
        {title: '操作', minWidth: 130, templet: '#barDemo', fixed: "right", align: "center"},
        /**{/if}**/
    ]], true , function (res,curr,count){
        btu = function () {
            var total_orders = res.data.length;
            var total_1 = 0;
            var total_2 = 0;
            var total_3 = 0;
            var total_4 = 0;
            var total_5 = 0;
            var total_money = 0;
            var money_1 = 0;
            var money_2 = 0;
            var money_3 = 0;
            var money_4 = 0;
            var money_5 = 0;
            var money_6 = 0;

            console.log(res.data);

            $(res.data).each(function(a,b){
                total_money+= Number(b.amount);
                //下单失败
                if(b.pay_status == 1)  total_1++;

                //已支付
                if(b.pay_status == 2){
                    total_2++;
                    money_2+= Number(b.amount);
                    money_3+= Number(b.total_fee);
                    money_4+= Number(b.Platform);
                    money_5+= Number(b.upstream_settle);
                    money_6+= Number(b.agent_amount) + Number(b.agent_amount2);
                    if(b.notice == 2){
                        total_4++;
                    }else{
                        total_5++;
                    }
                }

            });

            //未支付
            total_3 = total_orders - total_2 - total_1;
            money_1 = total_money - money_2;
            //成功率
            var rate = (total_2/total_orders*100).toFixed(1) ;
            money_3 = money_3.toFixed(2) ;
            money_4 = money_4.toFixed(2) ;
            money_5 = money_5.toFixed(2) ;
            money_6 = money_6.toFixed(2) ;

            layer.open({
                title: '当前页统计',
                type: 1,
                area: '60%',
                content: '    <blockquote class="layui-elem-quote"    >' +
                '交易总金额：<span class="label-info">'+total_money+'元</span>' +
                '未支付金额：<span class="label-info">'+money_1+'元</span>' +
                '已支付金额：<span class="label-info">'+money_2+'元</span>' +
                '手续费：<span class="label-info" >'+money_3+'元</span>' +
                '平台盈利：<span class="label-info">'+money_4+'元</span>' +
                '上游盈利：<span class="label-info">'+money_5+'元</span>' +
                '代理盈利：<span class="label-info">'+money_6+'元</span>' +
                '<br>' +
                '总订单数：<span class="label-info" id="total_orders" >'+total_orders+'<label style="color:red; padding:0 6px;">笔</label></span>' +
                '下单失败数：<span class="label-info">'+total_1+'<label style="color:red; padding:0 6px;">笔</label></span>' +
                '未支付单数：<span class="label-info">'+total_3+'<label style="color:red; padding:0 6px;">笔</label></span>' +
                '已支付单数：<span class="label-info">'+total_2+'<label style="color:red; padding:0 6px;">笔</label></span>' +
                '通知成功单数：<span class="label-info">'+total_4+'<label style="color:red; padding:0 6px;">笔</label></span>' +
                '通知失败单数：<span class="label-info">'+total_5+'<label style="color:red; padding:0 6px;">笔</label></span><br>' +
                '成功率：<span class="label-info" style="color: yellow"  >'+rate+'%</span><br>' +
                '</blockquote>'
            });
        }
    },100);

    /**
     * 日期范围
     */
    $.laydate.range('create_at',5);

</script>
{/block}
